.approach-card {
    margin-top: $xl;
    padding: $xl;
    border: 1px solid $light-200;
    border-radius: $radius-l;
    @include elevation-low;

    .card-title {
        display: flex;
        align-items: center;


        .circle {
            margin-right: $m;
            width: 52px;
            height: 52px;
            border-radius: 52px;
            color: $white-500;
            background-color: $deep-sea-400;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 20px;
        }

    }

    .approach-card-content {
        height: 180px;
        overflow-y: auto;
    }

    .p200,
    a {
        margin-top: $m;
    }
}

@media screen and (min-width: $widescreen) {
    .approach-card {
        padding: $xl3 0;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $light-200;
        border-top: 1px solid $light-200;
        box-shadow: none;

        .p200 {
            max-width: 283px;
        }
    }
}