.reviews-widget {
    padding-top: $xl;

    .rev-platform-cards {
        .rev-platform-card {
            background-color: $white-500;
            margin-top: $xl;
            text-align: center;
            padding: $xl;
            border: 1px solid $light-200;
            border-radius: $radius-l;

            .rpc-image {
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }


            .rpc-stars {
                margin-top: $s;
            }

            .rpc-info {
                margin-top: $s;

                a {
                    @include h200;
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }

        .rev-platform-card:first-child {
            margin-top: 0;
        }
    }

    .review-banners-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: $xxl;

        .total-reviews-title {
            @include h300;
        }
    }

    .review-banners {
        margin-top: $xl;
        overflow-x: scroll;
        margin-left: -$m;
        margin-right: -$m;
        padding-left: $m;
        padding-right: $m;
        padding-bottom: $s;

        display: grid;
        grid-column-gap: $m;
        grid-template-rows: auto;
        grid-auto-flow: column;

        // hide scrollbar
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .rbt {
            width: 302px;
            @include elevation-low;
            padding: $xl;
            border: 1px solid $light-200;
            border-radius: $radius-l;

            .rbt-top {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .rbt-top-left {
                    flex: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    h4 {
                        @include h200;
                        white-space: nowrap;
                    }

                    div {
                        @include p100;
                        color: $dark-100;
                    }
                }

                .rbt-top-right {
                    flex: 1;
                    white-space: nowrap;
                }
            }

            .rbt-middle {
                margin-top: $xl;

                h4 {
                    @include h200;
                }

                p {
                    @include p200;
                    margin-top: $xs;
                    height: 264px;
                    overflow-y: auto;
                }
            }

            .rbt-bottom {
                margin-top: $xl;
                height: $xl;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;

                }
            }
        }
    }
}

@include desktop {
    .reviews-widget {
        .rev-platform-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $xl;

            .rev-platform-card {
                margin-top: 0;
            }
        }

        .review-banners {
            overflow: hidden;
            padding: 0;
            margin-left: initial;
            margin-right: initial;
            display: block;
            border-bottom: 1px solid $light-200;

            .rbd {
                display: flex;
                align-items: center;
                padding: $xxl 0;
                border-top: 1px solid $light-200;

                .rbd-left {
                    flex: 0 0 164px;
                    text-align: center;

                    h4 {
                        @include h200;
                        overflow: hidden;
                    }

                    .rbd-stars {
                        margin-top: $s;
                    }

                    .rbd-rating {
                        @include p100;
                        margin-top: $s;
                        color: $dark-400;
                    }
                }

                .rbd-middle {
                    margin: 0 $xl;
                    padding-left: $xl * 2;
                    border-left: 1px solid $light-200;
                    flex: 1;

                    h4 {
                        @include h200;

                        a {
                            @include h200;
                            text-decoration: underline;
                        }
                    }

                    p {
                        margin-top: $xs;
                        @include p200;
                    }
                }

                .rbd-right {
                    flex: 0 0 124px;
                    text-align: right;
                }

            }

        }
    }
}