@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.reviews-widget {
    #reviews-scroller {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: $m;
        margin-left: -$m;
        margin-right: -$m;
        padding-left: $m;
        padding-right: $m;

        #reviews-container {
            display: flex;

            .review-box {
                margin-top: $xl;
                border: 1px solid $light-200;
                border-radius: $radius-l;
                @include elevation-low;
                padding: $xl;
                display: flex;
                flex-direction: column;
                margin-right: $m;

                // Override flex of .slide to specify a custom width
                flex: 1 0 302px;
                height: 326px;

                .review-box-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .review-box-icons {
                        .icon>svg {
                            * {
                                stroke: $orange-400;
                                fill: $orange-400;
                            }
                        }
                    }
                }

                .review-box-title {
                    margin-top: $m;
                }

                .review-box-text {
                    margin-top: $xxs;
                    overflow-y: auto;
                    flex: 1;
                }

                .review-box-signature {
                    margin-top: $m;
                    color: $dark-100;
                }
            }

            #padder {
                min-width: 1px;
            }

        }

        @include desktop {
            border: 1px solid $light-200;
            border-radius: $radius-l;
            margin-top: $xl;
            margin-left: 0;
            margin-right: 0;
            padding: 0;

            #reviews-container {

                .review-box {
                    margin-top: 0;
                    margin-right: 0;
                    border-radius: 0;
                    border-right: 0;
                    border: 0;
                    border-left: 1px solid $light-200;
                    box-shadow: none;
                    height: 310px;
                    box-sizing: border-box;
                }

                .review-box-quarter {
                    flex: 1 0 25%;
                }

                .review-box-half {
                    flex: 1 0 50%;
                }

                .review-box:first-child {
                    border-left: 0;
                }
            }

        }
    }

    #reviews-scroller::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .review-brands {
        margin-top: $xs;
        border-bottom: 1px solid $light-200;
        display: block;

        .review-brand {
            height: 85px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: content-box;
            flex: 1;
            border-top: 1px solid $light-200;

            .review-brand-right {
                text-align: right;

                .icon>svg {
                    * {
                        stroke: $orange-400;
                        fill: $orange-400;
                    }
                }



                p {
                    color: $dark-200;
                }
            }
        }

        @media screen and (min-width: $desktop) {
            display: flex;
            margin-top: $xl;
            padding: $xl;
            border: 1px solid $light-200;
            border-radius: $radius-l;

            .review-brand {
                height: 45px;
                border: none;
            }

            .review-brand:first-child {
                padding-right: $xl;
            }

            .review-brand:nth-child(2) {
                padding: 0 $xl;
                border-left: 1px solid $light-200;
                border-right: 1px solid $light-200;
            }

            .review-brand:last-child {
                padding-left: $xl;
            }
        }
    }

}