@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.reviews-widget {
    padding-bottom: $m;

    .review-box {
        margin-top: $xl;
        border: 1px solid $light-200;
        border-radius: $radius-l;
        @include elevation-low;
        padding: $xl;
        display: flex;
        flex-direction: column;
        margin-right: $m;

        // Override flex of .slide to specify a custom width
        flex: 1 0 302px;
        height: 326px;

        .review-box-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .review-box-title {
            margin-top: $m;
        }

        .review-box-text {
            margin-top: $xxs;
            overflow-y: auto;
            flex: 1;
        }

        .review-box-signature {
            margin-top: $m;
            color: $dark-100;
        }
    }

    @media screen and (min-width: $desktop) {

        padding-bottom: 0;

        .review-box {
            border-radius: 0;
            box-shadow: none;
            margin-right: 0;
            height: 300px;
            flex: 1 0 330px;
        }
    }
}