@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';

html {
    scroll-behavior: smooth;
}

div#content {
    margin: 0 auto;
    max-width: 872px;

    section#letters {
        position: sticky;
        top: 56px;
        background-color: $white-500;
        z-index: 2;


        #letter-selector-scroller {
            overflow-x: scroll;
            //scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;
            white-space: nowrap;

            //#letter-selector {
            //   white-space: nowrap;

            .letter {
                @include p200;
                padding: $l 0;
                color: $dark-200;
                text-transform: uppercase;
                border-bottom: 3px solid transparent;
                cursor: pointer;
                text-align: center;
                display: inline-block;
                width: $xxl;
                margin-right: $l;
            }

            .letter.active {
                @include h200;
                color: $black-500;
                border-bottom-color: $black-500;
            }

            // }
        }

        #letter-selector-scroller::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        @include desktop {
            top: 72px;

            #letter-selector-scroller {
                //#letter-selector {
                display: flex;
                justify-content: space-between;

                .letter {
                    flex: 1;
                    margin-right: 0;
                }

                // }
            }
        }
    }

    section#glossary-items {
        .item-category {
            scroll-margin-top: 140px;

            .item {
                padding-bottom: $xl3;
                margin-top: $xl3;
                border-bottom: 1px solid $light-200;

                img {
                    margin-bottom: $m;
                    width: 102px;
                    height: auto;
                    border-radius: $radius-l;
                }

                h2 {
                    @include h300;
                }

                p {
                    margin-top: $m;
                }

                .button {
                    margin-top: $m;
                }
            }

            @include desktop {

                scroll-margin-top: 150px;

                .item {
                    img {
                        width: 200px;
                    }
                }
            }
        }
    }
}


section#cta {
    background-color: $deep-sea-400;
    padding: $xl;
    border-radius: $radius-l;
    color: $white-500;

    #cta-banner-header {
        @include h500;
    }

    #cta-banner-content {
        margin-top: $xs;
    }

    a.button {
        margin-top: $xl;
    }

    @media screen and (min-width: $tablet) {
        padding: $xxl $xl3;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #cta-banner-texts {
            flex: auto;

            #cta-banner-header {
                @include h500;
            }
        }

        a.button {
            margin-top: 0;
            flex: 1;
        }
    }
}

section#title {
    margin-top: $xl;
}

@include desktop {
    section#title {
        margin-top: $xl3;
    }
}