@import '../../../styles/util/sizes';
@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';

.brand-card-widget {
  font-size: 0;

  .img-background {
    width: 100%;
    height: auto;
  }

  .img-container {
    font-size: small;
    padding: 0 $xl $xl $xl;

    img.overlay {
      // add shadow
      @include elevation-medium();
      margin-top: - $xl4;
      border: 1px solid $light-200;
      border-radius: $radius-l;
      flex: 0;
    }

    .title-laser {
      margin-bottom: $xs;
      color: $dark-200;
    }

    .title-alma {
      margin-bottom: $xs;
      font-weight: bold;
      font-size: $l;
    }

    .description {
      height: 156px;
      line-height: $xl;
      margin-bottom: $xl;
    }

    .div-readmore {
      margin-bottom: $xl;

      .url-readmore {
        font-weight: bolder;
        color: $deep-sea-500;
      }
    }

    .line-separation {
      margin-bottom: $xl;
    }

    .flex-container {
      display: flex;
      flex-direction: row;

      .button-left {
        flex: 1;
        margin-bottom: $xl;
        margin-right: $s;
        font-size: 13px;
      }

      .button-right {
        flex: 1;
        margin: 0 $xl $xl 0;
        margin-bottom: $xl;
        font-size: 13px;
      }
    }
  }
}