@import '../../../styles/util/sizes';
@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';

.brand-card-widget {
  font-size: 0;
  overflow: hidden;
  border: 1px solid $light-200;
  border-radius: $radius-l;
  @include elevation-low();

  .bc-img-background {
    width: 100%;
    height: auto;
  }

  .bc-content {
    padding: 0 $xl $xl $xl;

    img.overlay {
      // add shadow
      @include elevation-medium();
      margin-top: - $xl4;
      border: 1px solid $light-200;
      border-radius: $radius-l;
      flex: 0;
    }

    .subtitle {
      @include p200;
      margin-bottom: $xxs;
      color: $dark-200;
    }

    .title {
      @include h300;
      margin-bottom: $xs;
    }

    .description {
      @include p200;
      // Limit to keep widget height similar
      height: $s*12;
      line-height: $xl;
      margin-bottom: $xl;
      overflow-y: auto;
    }

    hr {
      margin-top: $xl;
      margin-bottom: $xl;
      border: none;
      border-top: 1px solid $light-200;
    }

    .is-hidden-touch {
      .flex-row {
        a:first-child {
          margin-right: 6px;
        }

        a:last-child {
          margin-left: 6px;

        }
      }
    }
  }
}