.service-combo-widget {
    display: block;


    img {
        border-radius: $radius-l;
    }


    div.service-combo-small {
        @include elevation-low();
        border-radius: $radius-l;
        border: 1px solid $light-200;
        padding: $xl;

        div.service-combo-info {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $light-200;
            padding-bottom: $xl;

            img {
                margin-right: $m;
            }

            .p200 {
                color: $dark-200;
            }
        }

        div.service-combo-content {
            border-top: 0;
            border-bottom-left-radius: $radius-l;
            border-bottom-right-radius: $radius-l;

            .service-combo-item {
                margin-top: $m;
                display: flex;
                justify-content: space-between;
                padding-bottom: $m;
                border-bottom: 1px solid $light-200;

                .strikethrough {
                    color: $dark-200;
                    margin-right: $xs;
                }
            }
        }
    }

    div.service-combo-large {
        padding: $xxl 0;
        display: flex;
        align-items: flex-start;
        border-top: 1px solid $light-200;
        border-bottom: 1px solid $light-200;


        div.service-combo-content {
            margin-left: $xl;
            flex: 1;

            .service-combo-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: $m;

                .p200 {
                    color: $dark-200;
                }

                .service-combo-duration {
                    span {
                        @include p200;
                    }
                }

                .service-combo-full-price {
                    text-decoration: line-through;
                    @include p200;
                }

                .service-combo-price {
                    margin-left: $xs;
                    @include h200;
                }

                button {
                    margin-left: $m;
                }
            }

            .service-combo-items {
                border-radius: $radius-l;
                overflow: hidden;
                margin-top: $xxl;

                .service-combo-item {
                    display: flex;
                    justify-content: space-between;
                    background-color: $light-50;
                    padding: $m;
                    margin-bottom: 1px;

                    .p200.strikethrough {
                        color: $dark-200;
                        margin-right: $xs;
                    }
                }
            }


        }
    }
}