@import '../../../styles/util/sizes';
@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';

.brand-card-widget {
  font-size: 0;
  overflow: hidden;
  border: 1px solid $light-200;
  border-radius: $radius-l;
  @include elevation-low();
  position: relative;
  display: flex;
  flex-direction: column;

  .bc-img-background {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .bc-content {
    padding: 0 $xl $xl $xl;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .overlay {
      background-color: #fff;
      width: 116px;
      height: 80px;
      @include elevation-medium();
      margin-top: - $xl4;
      border: 1px solid $light-200;
      border-radius: $radius-l;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: $xs;
      padding-right: $xs;
      box-sizing: border-box;

      img {
        width: 100%;
      }
    }

    .subtitle {
      @include p200;
      margin-bottom: $xxs;
      color: $dark-200;
      max-width: 50%;

      @include tablet {
        max-width: 100%;
      }

      @include desktop {
        max-width: 100%;
      }
    }

    .title {
      @include h300;
      margin-bottom: $xs;
    }

    .description {
      @include p100;

      line-height: $xl;
      margin-bottom: $xl;
      overflow-y: auto;
    }

    hr {
      margin-top: $xl;
      margin-bottom: $xl;
      border: none;
      border-top: 1px solid $light-200;
    }

    .is-hidden-touch {
      .flex-row {
        a:first-child {
          margin-right: 6px;
        }

        a:last-child {
          margin-left: 6px;

        }
      }
    }
  }
}