# Enforce trailing slash - required for breadcrumbs
RewriteEngine On
RewriteCond %{REQUEST_URI} /+[^\.]+$ 
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

# Redirect to custom 404 page
ErrorDocument 404 /404.php