RewriteEngine On
RewriteBase /

# Enforce https
RewriteCond %{HTTP_HOST} ^acnespecialisten.se [NC]
RewriteRule ^(.*)$ https://www.acnespecialisten.se/$1 [L,R=301]

Redirect 301 /porig-hy-html /pormaskar.php
Redirect 301 /produkter.php https://dahlskincare.se/
Redirect 301 /webshop.aspx https://dahlskincare.se/
Redirect 301 /fotvard.html https://www.sverigesskonhetscenter.se/fotvard.php
Redirect 301 /fransar-bryn.html https://www.sverigesskonhetscenter.se/fransar-bryn.php
Redirect 301 /massage.html https://www.sverigesskonhetscenter.se/massage.php
Redirect 301 /rynkreducering\.html https://www.sverigesskonhetscenter.se/rynkreducering.php
Redirect 301 /thermaskin.html https://www.sverigesskonhetscenter.se/therma-skin.php
Redirect 301 /vaxning.html https://www.sverigesskonhetscenter.se/vaxning.php
Redirect 301 /behandlingsrutiner/kanslig-torr-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-kanslig-torr-hy.php
Redirect 301 /behandlingsrutiner/torr-eksem-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-torr-eksemhy.php
Redirect 301 /behandlingsrutiner/mycket-porig-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-mycket-pormaskar.php
Redirect 301 /behandlingsrutiner/svar-seborre.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-seborre.php
Redirect 301 /behandlingsrutiner/Svar-acne.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-svar-akne.php
Redirect 301 /behandlingsrutiner/latt-rosacea.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-latt-rosacea.php
Redirect 301 /behandlingsrutiner/porig-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-pormaskar.php
Redirect 301 /behandlingsrutiner/kanslig-rosacea.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-kanslig-rosacea.php
Redirect 301 /behandlingsrutiner/seborroiskt-eksem.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-seborroiskt-eksem.php
Redirect 301 /behandlingsrutiner/mycket-torr-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-mycket-torr-hy.php
Redirect 301 /behandlingsrutiner/pigmentflackar.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-pigmentflackar.php
Redirect 301 /behandlingsrutiner/mycket-fet-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-mycket-fet-hy.php
Redirect 301 /behandlingsrutiner/kanslig-fet-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-kanslig-fet-hy.php
Redirect 301 /behandlingsrutiner/svar-rosacea.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-svar-rosacea.php
Redirect 301 /behandlingsrutiner/aldrande-hy.pdf https://www.dahlskincare.com/sv/produktpaket-aldrande-hy
Redirect 301 /behandlingsrutiner/solskadad-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-solskadad-hy.php
Redirect 301 /behandlingsrutiner/latt-seborre.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-latt-seborre.php
Redirect 301 /behandlingsrutiner/latt-blandhy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-latt-blandhy.php
Redirect 301 /behandlingsrutiner/blandhy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-blandhy.php
Redirect 301 /behandlingsrutiner/torr-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-torr-hy.php
Redirect 301 /behandlingsrutiner/rosacea.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-rosacea.php
Redirect 301 /behandlingsrutiner/latt-acne.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-akne.php
Redirect 301 /behandlingsrutiner/milier.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-milier.php
Redirect 301 /behandlingsrutiner/fet-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-fet-hy.php
Redirect 301 /behandlingsrutiner-latt-acne.php https://www.dahlskincare.com/sv/behandlingsrutiner/br-akne.php
Redirect 301 /kosmetisk-tatuering.php https://www.sverigesskonhetscenter.se/kosmetisk-tatuering.php
Redirect 301 /lp-micro-injector.php https://www.sverigesskonhetscenter.se/micro-injector.php
Redirect 301 /aterforsaljare.php /index.php
Redirect 301 /acnespecialisten-certifikatet.php /index.php
Redirect 301 /porig-hy.html /pormaskar.php
Redirect 301 /porig-hy.php /pormaskar.php
Redirect 301 /porig-hy.aspx /pormaskar.php
Redirect 301 /porighy.aspx /pormaskar.php
Redirect 301 /gratis-hud-konsultation.aspx /gratis-hudkonsultation.php
Redirect 301 /finnar.aspx /finnar.php
Redirect 301 /media.aspx /index.php
Redirect 301 /media.php /index.php
Redirect 301 /Fet-hy.aspx /fet-hy.php
Redirect 301 /fet-hy-2.php /fet-hy.php
Redirect 301 /fet-kanslig-hy.aspx /fet-hy.php
Redirect 301 /kanslig-fet-hy.php /fet-hy.php
Redirect 301 /kanslig-hy.php /torr-hy.php
Redirect 301 /acnereducering.aspx /acnebehandling.php
Redirect 301 /acnereducering.php /acnebehandling.php
Redirect 301 /images/repotage-kt.pdf /index.php
Redirect 301 /behandlingsrutiner.php /index.php
Redirect 301 /torr-kanslig-hy.aspx /torr-hy.php
Redirect 301 /kanslig-torr-hy.php /torr-hy.php
Redirect 301 /latt-acne.aspx /acne.php
Redirect 301 /milier2.aspx /milier.php
Redirect 301 /publicerade-studier.php /index.php
Redirect 301 /seborroiskt-eksem.aspx /seborre.php
Redirect 301 /seborroiskt-eksem.php /seborre.php
Redirect 301 /Svar-acne.aspx /acne.php
Redirect 301 /svar-acne.php /acne.php
Redirect 301 /rosacea-behandling.aspx /rosaceabehandling.php
Redirect 301 /admin/dynamicflashv2.swf /index.php
Redirect 301 /kontakt.aspx /kontakt.php
Redirect 301 /acne.aspx /acne.php
Redirect 301 /G%C3%B6teborg.aspx /index.php
Redirect 301 /Göteborg.aspx /index.php
Redirect 301 /milier.aspx /milier.php
Redirect 301 /Sundbyberg.aspx /index.php
Redirect 301 /por-rengoring.aspx /porrengoring.php
Redirect 301 /hem.aspx /index.php
Redirect 301 /.php /index.php
Redirect 301 /default.aspx /index.php
Redirect 301 /pigmentflackar-solskadad-hy.aspx /solskadad-hy.php
Redirect 301 /Pigmentflackar.aspx /pigmentflackar.php
Redirect 301 /valj-datum.aspx?salong=6&behandling=51 /behandlingar.php
Redirect 301 /valj-behandling.aspx?salong=19 /behandlingar.php
Redirect 301 /aldrande-hy-2.php /aldrande-hy.php
Redirect 301 /blandhy-2.php /blandhy.php
Redirect 301 /milier-2.php /milier.php
Redirect 301 /pigmentflackar-2.php /pigmentflackar.php
Redirect 301 /porig-hy-2.php /pormaskar.php
Redirect 301 /rosacea-2.php /rosacea.php
Redirect 301 /solskadad-hy-2.php /solskadad-hy.php
Redirect 301 /torr-hy-2.php /torr-hy.php
Redirect 301 /latt-acne.php /acne.php
Redirect 301 /kanslig-rosacea.php /rosacea.php
Redirect 301 /latt-rosacea.php /rosacea.php
Redirect 301 /svar-rosacea.php /rosacea.php
Redirect 301 /mycket-porig-hy.php /pormaskar.php
Redirect 301 /latt-blandhy.php /blandhy.php
Redirect 301 /mycket-torr-hy.php /torr-hy.php
Redirect 301 /torr-eksem-hy.php /torr-hy.php
Redirect 301 /mycket-fet-hy.php /fet-hy.php
Redirect 301 /latt-seborre.php /seborre.php
Redirect 301 /svar-seborre.php /seborre.php
Redirect 301 /min-hudtyp.php /hudproblem.php
Redirect 301 /akne.php /acne.php
Redirect 301 /latt-rosacea.aspx /rosacea.php
Redirect 301 /faq.aspx /fragor-svar.php
Redirect 301 /faq.php /fragor-svar.php
Redirect 301 /mycket-fet-hy.aspx /fet-hy.php
Redirect 301 /Torr-kanslighy.aspx /torr-hy.php
Redirect 301 /pigmetnflackar.php /pigmentflackar.php
Redirect 301 /fore-och-efter-bilder-problemhy.php /resultat.php
Redirect 301 /fore-och-efter-bilder-acne.php /resultat-acne.php
Redirect 301 /fore-och-efter-bilder-rosacea.php /resultat-rosacea.php
Redirect 301 /fore-och-efter-bilder-pormaskar.php /resultat-pormaskar.php
Redirect 301 /fore-och-efter-bilder-blandhy.php /resultat-blandhy.php
Redirect 301 /fore-och-efter-bilder-ytliga-blodkarl.php /resultat-ytliga-blodkarl.php
Redirect 301 /fore-och-efter-bilder-acnearr.php /resultat-acnearr.php
Redirect 301 /fore-och-efter-bilder-ovrig-problemhy.php /resultat.php
Redirect 301 /om-acnespecialisten.php /om-oss.php
Redirect 301 /vara-salonger.php /om-oss.php
Redirect 301 /lp-boka.php /behandlingar.php
Redirect 301 /lp-gratis-hudkonsultation.php /gratis-hudkonsultation.php
Redirect 301 /lp-aterbesok.php /gratis-hudkonsultation.php
Redirect 301 /lp-porrengoring-ansikte.php /porrengoring.php
Redirect 301 /lp-porrengoring-brost.php /porrengoring.php
Redirect 301 /lp-porrengoring-rygg.php /porrengoring.php
Redirect 301 /lp-acnebehandling-ansikte.php /acnebehandling.php
Redirect 301 /lp-acnebehandling-brost.php /acnebehandling.php
Redirect 301 /lp-acnebehandling-rygg.php /acnebehandling.php
Redirect 301 /lp-rosaceabehandling.php /rosaceabehandling.php
Redirect 301 /lp-milier-40.php /milierbehandling.php
Redirect 301 /lp-milier-60.php /milierbehandling.php
Redirect 301 /lp-acnearr-konsultation.php /behandla-acnearr.php
Redirect 301 /lp-microdermabrasion.php /microdermabrasion.php
Redirect 301 /lp-ansiktsbehandling-klassisk.php /ansiktsbehandlingar.php
Redirect 301 /lp-ansiktsbehandling-xtra-fukt.php /ansiktsbehandlingar.php
Redirect 301 /lp-ansiktsbehandling-vitamin-c.php /ansiktsbehandlingar.php
Redirect 301 /lp-ansiktsbehandling-anti-age.php /ansiktsbehandlingar.php
Redirect 301 /lp-ansiktsbehandling-plus.php /ansiktsbehandlingar.php
Redirect 301 /lp-ansiktsbehandling-lyx.php /ansiktsbehandlingar.php
Redirect 301 /lp-ipl-konsultation-pigmentflackar.php /ipl-pigmentflackar.php
Redirect 301 /lp-ipl-pigmentflackar-1.php /ipl-pigmentflackar.php
Redirect 301 /lp-ipl-pigmentflackar-ansikte.php /ipl-pigmentflackar.php
Redirect 301 /lp-ipl-pigmentflackar-panna.php /ipl-pigmentflackar.php
Redirect 301 /lp-ipl-pigmentflackar-hander.php /ipl-pigmentflackar.php
Redirect 301 /lp-ipl-pigmentflackar-kinder.php /ipl-pigmentflackar.php
Redirect 301 /lp-ipl-pigmentflackar-haka.php /ipl-pigmentflackar.php
Redirect 301 /lp-ipl-pigmentflackar-haka-kinder.php /ipl-pigmentflackar.php
Redirect 301 /lp-ipl-konsultation-ytliga-blodkarl.php /ipl-ytliga-blodkarl.php
Redirect 301 /lp-ipl-ytliga-blodkarl-1.php /ipl-ytliga-blodkarl.php
Redirect 301 /lp-ipl-ytliga-blodkarl-ansikte.php /ipl-ytliga-blodkarl.php
Redirect 301 /lp-ipl-ytliga-blodkarl-panna.php /ipl-ytliga-blodkarl.php
Redirect 301 /lp-ipl-ytliga-blodkarl-kinder.php /ipl-ytliga-blodkarl.php
Redirect 301 /lp-ipl-ytliga-blodkarl-nasa.php /ipl-ytliga-blodkarl.php
Redirect 301 /lp-ipl-ytliga-blodkarl-haka.php /ipl-ytliga-blodkarl.php
Redirect 301 /lp-ipl-ytliga-blodkarl-kinder-haka.php /ipl-ytliga-blodkarl.php
Redirect 301 /salicylic.php /kemisk-peeling.php
Redirect 301 /lactic.php /kemisk-peeling.php
Redirect 301 /glycolic.php /kemisk-peeling.php
Redirect 301 /fruit-acid.php /kemisk-peeling.php
Redirect 301 /kojic.php /kemisk-peeling.php
Redirect 301 /jessners.php /kemisk-peeling.php
Redirect 301 /lp-kemisk-peeling-konsultation.php /kemisk-peeling.php
Redirect 301 /lp-kemisk-peeling-salicylic.php /kemisk-peeling.php
Redirect 301 /lp-kemisk-peeling-lactic.php /kemisk-peeling.php
Redirect 301 /lp-kemisk-peeling-glycolic.php /kemisk-peeling.php
Redirect 301 /lp-kemisk-peeling-fruit-acid.php /kemisk-peeling.php
Redirect 301 /lp-kemisk-peeling-kojic.php /kemisk-peeling.php
Redirect 301 /lp-kemisk-peeling-jessners.php /kemisk-peeling.php
Redirect 301 /lp-cryopen-konsultation.php /cryopen.php
Redirect 301 /lp-cryopen-1-3.php /cryopen.php
Redirect 301 /lp-cryopen-4-6.php /cryopen.php
Redirect 301 /lp-cryopen-7-10.php /cryopen.php
Redirect 301 /elos-skintightening.html /alma-hybrid-co2-laser.php
Redirect 301 /hudforbattring.html /alma-hybrid-co2-laser.php
Redirect 301 /specialbehandlingar.html /behandlingar.php
Redirect 301 /permanent-harborttagning.html /permanent-harborttagning.php
Redirect 301 /aldrande-hy.php /mogen-hy.php
Redirect 301 /lp-microneedling /microneedling.php
Redirect 301 /lp-microneedling.php /microneedling.php
Redirect 301 /välj-salongs.aspx /kontakt.php
Redirect 301 /valj-salong.aspx /kontakt.php
Redirect 301 /acne-panna.php /acne-ansikte.php
Redirect 301 /acne-haka.php /acne-ansikte.php
Redirect 301 /acne-kaklinje.php /acne-ansikte.php
Redirect 301 /acne-kinder.php /acne-ansikte.php
Redirect 301 /acne-nasa.php /acne-ansikte.php
Redirect 301 /maskne.php /acne-ansikte.php
Redirect 301 /backne.php /acne-rygg.php
Redirect 301 /acne-axlar.php /acne-rygg.php
Redirect 301 /acnearr-ansikte.php /acnearr.php
Redirect 301 /acnearr-rygg.php /acnearr.php
Redirect 301 /acnearr-axlar.php /acnearr.php
Redirect 301 /yttorr-hy.php /oljig-hy.php
Redirect 301 /dermapen4.php /dermapen.php
Redirect 301 /dermapen-pormaskar.php /dermapen-stora-porer.php
Redirect 301 /microneedling-pormaskar.php /microneedling-stora-porer.php
Redirect 301 /finnar-axlar.php /finnar-rygg.php
Redirect 301 /finnar-panna.php /finnar-ansikte.php
Redirect 301 /finnar-kaklinje.php /finnar-ansikte.php
Redirect 301 /finnar-haka.php /finnar-ansikte.php
Redirect 301 /finnar-kinder.php /finnar-ansikte.php
Redirect 301 /finnar-mun.php /finnar-ansikte.php
Redirect 301 /finnar-nasa.php /finnar-ansikte.php
Redirect 301 /forstorade-porer.php /stora-porer.php
Redirect 301 /behandla-forstorade-porer.php /behandla-stora-porer.php
Redirect 301 /resultat-forstorade-porer.php /resultat-stora-porer.php
Redirect 301 /stora-porer-nasa.php /stora-porer.php
Redirect 301 /stora-porer-panna.php /stora-porer.php
Redirect 301 /stora-porer-kinder.php /stora-porer.php
Redirect 301 /stora-porer-oron.php /stora-porer.php
Redirect 301 /stora-porer-haka.php /stora-porer.php
Redirect 301 /stora-porer-brostet.php /stora-porer.php
Redirect 301 /stora-porer-ryggen.php /stora-porer.php
Redirect 301 /stora-porer-ansikte.php /stora-porer.php
Redirect 301 /stora-porer-brost.php /stora-porer.php
Redirect 301 /stora-porer-rygg.php /stora-porer.php
Redirect 301 /pormaskar-panna.php /pormaskar.php
Redirect 301 /pormaskar-oron.php /pormaskar.php
Redirect 301 /pormaskar-nasa.php /pormaskar.php
Redirect 301 /pormaskar-haka.php /pormaskar.php
Redirect 301 /pormaskar-kinder.php /pormaskar.php
Redirect 301 /pormaskar-ansikte.php /pormaskar.php
Redirect 301 /pormaskar-brost.php /pormaskar.php
Redirect 301 /pormaskar-rygg.php /pormaskar.php
Redirect 301 /nodulocystisk-acne.php /cystisk-acne.php
Redirect 301 /covid-19.php /index.php
Redirect 301 /gratis-ipl.php /hudbehandlingar/ipl/index.php
Redirect 301 /utbildningsdag.php /index.php
Redirect 301 /ipl-rosacea /ipl-rosacea.php
Redirect 301 /acne-gravid.php /hormonell-acne.php
Redirect 301 /hormon-finnar.php /hormonell-acne.php
Redirect 301 /gula-finnar.php /finnar.php
Redirect 301 /behandla-atrofiska-arr.php /atrofiska-arr.php
Redirect 301 /behandla-postinflammatorisk-hyperpigmentering.php /postinflammatorisk-hyperpigmentering.php
Redirect 301 /microneedling-finnar.php /microneedling-acne.php
Redirect 301 /strandvagen.php /kontakt.php
Redirect 301 /sunscreen.php /ordlista.php
Redirect 301 /rekrytering.php /karriar.php
Redirect 301 /jobb.php /karriar.php
Redirect 301 /ipl.php /hudbehandlingar/ipl/index.php
Redirect 301 /jobba.php /jobb.php
Redirect 301 /hydrafacial.html /hydrafacial.php
Redirect 301 /microneedling.html /microneedling.php
Redirect 301 /micro-dermabrasion.html /microdermabrasion.php
Redirect 301 /photonova-permanent-harborttagning.html /permanent-harborttagning.php
Redirect 301 /photonova.html /varumarken/powerlite-photonova/index.php
Redirect 301 /ipl-behandlingar.aspx /hudbehandlingar/ipl/index.php
Redirect 301 /ytliga-blodkarl.aspx /ytliga-blodkarl.php
Redirect 301 /boka-direkt.aspx /hudbehandlingar.php
Redirect 301 /elos-ipl.html /hudbehandlingar/ipl/index.php
Redirect 301 /elos-ipl-media.aspx /hudbehandlingar/ipl/index.php
Redirect 301 /elos-pigmentflackar.html /ipl-pigmentflackar.php
Redirect 301 /elos-ytliga-blodkarl.html /ipl-ytliga-blodkarl.php
Redirect 301 /om-elos-ipl.aspx /hudbehandlingar/ipl/index.php
Redirect 301 /elos-ipl.aspx /hudbehandlingar/ipl/index.php
Redirect 301 /rynkreducering.html /infuzion.php
Redirect 301 /kliniska/skintightening1.pdf /alma-hybrid-co2-laser.php
Redirect 301 /kliniska/elos-teknologi-studie-1.pdf /hudbehandlingar/ipl/index.php
Redirect 301 /kliniska/elos-teknologi-studie-2.pdf /hudbehandlingar/ipl/index.php
Redirect 301 /kliniska/elos-teknologi-studie-3.pdf /hudbehandlingar/ipl/index.php
Redirect 301 /kliniska/elos-teknologi-studie-4.pdf /hudbehandlingar/ipl/index.php
Redirect 301 /kliniska/elos-teknologi-studie-5.pdf /hudbehandlingar/ipl/index.php
Redirect 301 /kliniska/acne1.pdf /acne.php
Redirect 301 /kliniska/acne2.pdf /acne.php
Redirect 301 /kliniska/acne3.pdf /acne.php
Redirect 301 /peelingbehandlingar.html /kemisk-peeling.php
Redirect 301 /Peeling.aspx /kemisk-peeling.php
Redirect 301 /kliniska/vaskulara1.pdf /ytliga-blodkarl.php
Redirect 301 /kliniska/vaskulara2.pdf /ytliga-blodkarl.php
Redirect 301 /kliniska/vaskulara3.pdf /ytliga-blodkarl.php
Redirect 301 /kliniska/vaskulara4.pdf /ytliga-blodkarl.php
Redirect 301 /kliniska/harborttagning1.pdf /permanent-harborttagning.php
Redirect 301 /kliniska/harborttagning2.pdf /permanent-harborttagning.php
Redirect 301 /kliniska/harborttagning3.pdf /permanent-harborttagning.php
Redirect 301 /kliniska/harborttagning4.pdf /permanent-harborttagning.php
Redirect 301 /kliniska/harborttagning5.pdf /permanent-harborttagning.php
Redirect 301 /kliniska/harborttagning6.pdf /permanent-harborttagning.php
Redirect 301 /kliniska/harborttagning7.pdf /permanent-harborttagning.php
Redirect 301 /kliniska/harborttagning8.pdf /permanent-harborttagning.php
Redirect 301 /kliniska/rynkreducering1.pdf /infuzion.php
Redirect 301 /kliniska/rynkreducering2.pdf /infuzion.php
Redirect 301 /kliniska/rynkreducering3.pdf /infuzion.php
Redirect 301 /kliniska/rynkreducering4.pdf /infuzion.php
Redirect 301 /kliniska/rynkreducering5.pdf /infuzion.php
Redirect 301 /kliniska/hudforbattring1.pdf /infuzion.php
Redirect 301 /kliniska/hudforbattring2.pdf /infuzion.php
Redirect 301 /kliniska/hudforbattring3.pdf /infuzion.php
Redirect 301 /kliniska/hudforbattring4.pdf /infuzion.php
Redirect 301 /fotvard.html https://www.sverigesskonhetscenter.se/fotvard.php
Redirect 301 /fransar-bryn.html https://www.sverigesskonhetscenter.se/fransar-bryn.php
Redirect 301 /massage.html https://www.sverigesskonhetscenter.se/massage.php
Redirect 301 /thermaskin.html https://www.sverigesskonhetscenter.se/therma-skin.php
Redirect 301 /vaxning.html https://www.sverigesskonhetscenter.se/vaxning.php
Redirect 301 /behandlingsrutiner-latt-acne.php https://www.dahlskincare.com/sv/behandlingsrutiner/br-akne.php
Redirect 301 /kosmetisk-tatuering.php https://www.sverigesskonhetscenter.se/kosmetisk-tatuering.php
Redirect 301 /behandlingsrutiner/kanslig-torr-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-kanslig-torr-hy.php
Redirect 301 /behandlingsrutiner/torr-eksem-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-torr-eksemhy.php
Redirect 301 /behandlingsrutiner/mycket-porig-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-mycket-pormaskar.php
Redirect 301 /behandlingsrutiner/svar-seborre.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-seborre.php
Redirect 301 /behandlingsrutiner/Svar-acne.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-svar-akne.php
Redirect 301 /behandlingsrutiner/latt-rosacea.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-latt-rosacea.php
Redirect 301 /behandlingsrutiner/porig-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-pormaskar.php
Redirect 301 /behandlingsrutiner/kanslig-rosacea.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-kanslig-rosacea.php
Redirect 301 /vvbehandlingsrutiner/seborroiskt-eksem.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-seborroiskt-eksem.php
Redirect 301 /behandlingsrutiner/mycket-torr-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-mycket-torr-hy.php
Redirect 301 /behandlingsrutiner/pigmentflackar.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-pigmentflackar.php
Redirect 301 /behandlingsrutiner/mycket-fet-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-mycket-fet-hy.php
Redirect 301 /behandlingsrutiner/kanslig-fet-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-kanslig-fet-hy.php
Redirect 301 /behandlingsrutiner/svar-rosacea.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-svar-rosacea.php
Redirect 301 /behandlingsrutiner/aldrande-hy.pdf https://www.dahlskincare.com/sv/produktpaket-aldrande-hy
Redirect 301 /behandlingsrutiner/solskadad-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-solskadad-hy.php
Redirect 301 /behandlingsrutiner/latt-seborre.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-latt-seborre.php
Redirect 301 /behandlingsrutiner/latt-blandhy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-latt-blandhy.php
Redirect 301 /vbehandlingsrutiner/blandhy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-blandhy.php
Redirect 301 /behandlingsrutiner/torr-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-torr-hy.php
Redirect 301 /behandlingsrutiner/rosacea.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-rosacea.php
Redirect 301 /behandlingsrutiner/latt-acne.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-akne.php
Redirect 301 /behandlingsrutiner/milier.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-milier.php
Redirect 301 /behandlingsrutiner/fet-hy.pdf https://www.dahlskincare.com/sv/behandlingsrutiner/br-fet-hy.php
Redirect 301 /oljig-hy.php /fet-hy.php
Redirect 301 /behandla-atrofiska-arr.php /atrofiska-arr.php
Redirect 301 /behandla-postinflammatorisk-hyperpigmentering.php /postinflammatorisk-hyperpigmentering.php
Redirect 301 /dermapen-acnearr.php /microneedling-acnearr.php
Redirect 301 /dermapen-finnar.php /microneedling-acne.php
Redirect 301 /microneedling-finnar.php /microneedling-acne.php
Redirect 301 /tonarsfinnar.php /tonarsacne.php
Redirect 301 /vuxenfinnar.php /vuxenacne.php
Redirect 301 /vresultat-finnar.php /resultat-acne.php
Redirect 301 /pormaskar-brost.php /pormaskar.php
Redirect 301 /resultat-dermapen-acnearr.php /resultat-acnearr.php
Redirect 301 /resultat-micrneedling-acnearr.php /resultat-acnearr.php
Redirect 301 /dermapen-acne.php /microneedling-acne.php
Redirect 301 /dermapen-acnearr.php /microneedling-acnearr.php
Redirect 301 /dermapen-stora-porer.php /microneedling-stora-porer.php
Redirect 301 /cookies.php /index.php

# If not caught by any rule above, rewrite to .php if filename is missing and it ends with “.html”
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)\.html$ $1.php [R=301,L]

# Enforce trailing slash - required for breadcrumbs
RewriteEngine On
RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

# Set default 404 page
ErrorDocument 404 /not-found.php

# Set cache control header
# 24 hours
<IfModule mod_headers.c>
    <FilesMatch "\.(php|pdf|webp|jpg|jpeg|png|svg|js|css|mp4)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
</IfModule>