@import "styles/util/sizes";
@import "styles/util/colors";
@import "styles/util/mixins";

.step-buttons {
    font-size: 0;

    button {
        margin-left: $s;
    }
}


.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

$section-margin-top: $xl + $xl5;

section#banner {
    #banner-background {
        padding: 108px 0 74px 0;
        background-image: url("images/banner-mobile.webp");
        background-size: cover;
        background-position: center center;
        position: relative;

        video {
            position: absolute;
            width: 100%;
            display: block;
            top: 50%;
            transform: translateY(-50%);
        }

        h1 {
            color: $white-500;
            text-align: center;
            @include h600;

            @include desktop {
                text-align: left;
                @include h700;
            }
        }
    }

    .banner-bar {
        background: $deep-sea-400;
        color: white;
        border-radius: $radius-l;
        cursor: pointer;


        #banner-bar-cols {
            display: flex;
            align-items: center;
            justify-content: space-between;


        }
    }

    #banner-bar-small {
        margin-top: -50px;
        padding: $xl;

        button {
            width: 100%;
            box-sizing: border-box;
            padding-top: 14.5px;
            padding-bottom: 14.5px;
            font-weight: 600;
        }

        #banner-bar-cols {
            margin-top: $m;
            text-align: center;

            .icon-trustpilot-green {
                margin-left: $xxs;
                display: inline-block;
            }
        }
    }

    #banner-bar-large {
        margin-top: -58px;
        padding: $xl $xxl;

        #banner-bar-cols {
            .label-large {
                font-size: 60px;
                line-height: 68px;
                font-family: "DM Serif Text";
                font-weight: 400;
                margin-right: $s;
            }

            .flex-aligner {
                display: flex;
                align-items: center;

                #trustpilot-stars {
                    display: flex;
                }
            }

            .button {
                padding-top: 14.5px;
                padding-bottom: 14.5px;
            }
        }
    }

    #banner-bar-large:hover {
        background: linear-gradient(270.44deg, #219174 0%, #1B8066 100%);
    }

    @media screen and (min-width: $desktop) {
        #banner-background {
            position: relative;
            height: 564px;
            box-sizing: border-box;
            background-image: url("images/banner-desktop.webp");
            overflow: hidden;
            padding: 0;
            display: flex;
            align-items: flex-end;

            .container {
                padding-bottom: 106px;
            }
        }

    }
}

section#problems {
    margin-top: $xxl;

    @media screen and (min-width: $desktop) {
        margin-top: 66px;
    }
}

section#our-approach {
    margin-top: $xl5;

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}


section#results {
    margin-top: $xl5;

    .result-widget {
        margin-top: $l;
    }

    @media screen and (min-width: $tablet) {
        .result-widget {
            margin-top: $xl;
        }
    }

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}

section#reviews {
    margin-top: $xl5 - $xl; // -xl because results has padding-bottom $xl

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}

section#services {
    margin-top: $xl5;

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}

section#faq {
    margin-top: $xl5;

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}

section#skin-guide {
    margin-top: $xl5;

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}

section#about-us {
    margin-top: $xl5;


    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        margin-top: $xl;
        width: 100%;
        height: auto;
    }


    #about-text-wrapper {
        flex: 1;

        #about-text {
            img {
                border-radius: $radius-s;
            }

            .about-header {
                margin-top: $xl;

                .icon>svg {
                    * {
                        stroke: $deep-sea-400;
                        fill: transparent;
                    }
                }

                span.icon {
                    margin-right: $s;
                }
            }

            .divider {
                margin-top: $xl;
                border-top: 1px solid $light-200;
            }

            a {
                margin-top: $xl;
            }
        }
    }

    #about-image-desktop {
        display: none;
        flex: 1;

        margin-left: $l;

        img {
            width: 100%;
            margin: 0;
            border-radius: $radius-l;
        }
    }

    @media screen and (min-width: $tablet) {
        .divider {
            display: none;
        }
    }

    @media screen and (min-width: $desktop) {
        #about-text-wrapper {
            #about-text {
                width: 544px;
                margin-right: $xl;

                .about-header,
                a {
                    margin-top: $xl3;
                }

                a {
                    width: initial;
                }
            }
        }

        #about-image-desktop {
            display: initial;
        }
    }

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}

section#specialists {
    margin-top: $xl5;

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}

section#brands {
    margin-top: $xl5;

    @media screen and (min-width: $widescreen) {
        margin-top: $section-margin-top;
    }
}