@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';
@import 'widgets/article_card/article_card_widget';
@import 'widgets/paginator/paginator';


section#categories-tablet {
    margin-top: $m;
    padding-bottom: $xl;

    #category-links {
        display: flex;
        flex-wrap: wrap;

        .category-link {
            text-align: center;
            flex: auto;
            display: inline-block;
            padding: 14px $l;
            cursor: pointer;
            border: 1px solid $light-500;
            border-radius: $radius-s;
            margin-right: $xxs;
            margin-bottom: $xxs;
        }
    }
}

section#categories-desktop {
    padding-bottom: $xl;

    #category-items-container {
        position: relative;
        border: 1px solid $light-200;
        border-radius: $radius-l;
        overflow: hidden;
        margin-top: - $xl3;
        background-color: $white-500;
        @include elevation-medium();

        div#category-items {
            position: relative;
            display: flex;
            overflow-y: auto;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        div#category-items::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        div.scroll-button {
            background-color: $white-500;
            position: absolute;
            top: 0;
            height: 100%;
            padding: $m;
            box-sizing: border-box;
        }

        div.scroll-button#scroll-button-previous {
            background: linear-gradient(90deg, $white-500 70%, rgba(255, 255, 255, 0) 100%);
            padding-right: $xl*2;
        }

        div.scroll-button#scroll-button-next {
            background: linear-gradient(270deg, $white-500 70%, rgba(255, 255, 255, 0) 100%);
            padding-left: $xl*2;
            right: 0;
        }

        .category-item {
            @include h200;
            padding: $xl $xxs;
            flex: 1 0 132px;
            text-align: center;
            cursor: pointer;
            border-left: 1px solid $light-200;
        }

        .category-item:not(.highlight):hover {
            .category-item-label {
                color: $deep-sea-300;
            }
        }

        .category-item.highlight {
            background-color: $light-25;

            .category-item-label {
                color: $deep-sea-500;
            }
        }

        .category-item:first-child {
            border-left: 1px solid transparent;
        }
    }
}

section#subcategories {
    #subcategories-wrapper::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    #subcategories-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;

        #subcategory-items {
            border-bottom: 1px solid $light-200;

            .subcategory-item {
                @include p100;
                display: inline-block;
                padding-bottom: $l;
                border-bottom: 3px solid transparent;
                margin-right: $xl;
                color: $dark-200;
            }

            .subcategory-item.sc-active {
                color: $black-500;
                border-bottom: 3px solid $black-500;
            }

            .subcategory-item:last-child {
                margin-right: 0;
            }
        }
    }
}

section#paginator {
    margin-top: $xl;

    .paginator-widget {
        margin-top: $xl;
    }

    @include desktop {
        #show-more {
            text-align: center;

            .button {
                width: initial;
            }
        }
    }
}

section#cta-banner {
    background-color: $deep-sea-400;
    padding: $xl;
    border-radius: $radius-l;
    color: $white-500;

    #cta-banner-header {
        @include h500;
    }

    #cta-banner-content {
        margin-top: $xs;
    }

    a.button {
        margin-top: $xl;
    }

    @media screen and (min-width: $tablet) {
        padding: $xxl $xl3;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #cta-banner-texts {
            flex: auto;

            #cta-banner-header {
                @include h500;
            }
        }

        a.button {
            flex: 1;
        }
    }
}