@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';


section#banner {
    background-color: $deep-sea-400;
    padding: $xxs 0;

    .badges-widget {
        flex: 1;

        .badge {
            @include button-text-color($white-500);
            color: $white-500;
            background-color: transparent;
        }

        .badge:first-child {
            padding-left: 0;
        }

        .badge:last-child {
            padding-right: 0;
        }
    }

    @include desktop {
        .badges-widget {
            flex: 0;
        }

        .breadcrumbs-widget {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

section#title {
    margin-top: $xl;

    @include desktop {
        margin-top: 72px;
        max-width: 872px;
    }
}