@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';
@import '../../widgets/article_card/article_card_widget';
@import '../../widgets/paginator/paginator';

section#banner {
    @include desktop {
        .green-header-banner-widget {
            padding-bottom: 102px;
        }
    }
}

section#paginator {
    margin-top: $xxl;

    @include desktop {
        margin-top: $xl3;
    }
}

section#cta-banner {
    background-color: $deep-sea-400;
    padding: $xl;
    border-radius: $radius-l;
    color: $white-500;

    #cta-banner-header {
        @include h500;
    }

    #cta-banner-content {
        margin-top: $xs;
    }

    a.button {
        margin-top: $xl;
    }

    @media screen and (min-width: $tablet) {
        padding: $xxl $xl3;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #cta-banner-texts {
            flex: auto;

            #cta-banner-header {
                @include h500;
            }
        }

        a.button {
            flex: 1;
        }
    }
}