@import "../styles/util/colors";
@import "../styles/util/mixins";
@import "../styles/util/sizes";
@import "widgets/service-card/service-card";
@import "widgets/product-card/product-card";

html {
    scroll-behavior: smooth;

    .underline {
        text-decoration: underline;
    }

    .lowercase {
        text-transform: lowercase;
    }
}


div#floater {
    position: sticky;
    height: 0;
    top: 72px + $xl5; /// 72px: height of navbar
    z-index: 1;

    div.container {
        text-align: right;
        height: 0;

        div#floating-picture {
            text-align: left;
            position: relative;
            display: inline-block;
            overflow: hidden;
            @include elevation-low();
            transform-origin: center left;
            transition: filter 0.5s ease, opacity 0.5s ease;
            border-radius: $radius-l;

            flex-direction: column;
            justify-content: space-between;
            background-size: cover;

            div#overlay {
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 424px;
                height: 456px;
                padding: $xl $xxl $xxl $xxl;
                box-sizing: border-box;
                transition: opacity 0.5s ease, height 0.5s ease, background-color 0.5s ease;
                color: $white-500;

                .badges-widget {
                    .badge {
                        background-color: rgba(255, 255, 255, 0.2);
                        margin-right: 4px;
                    }

                    .badge:last-child {
                        margin-right: 0;
                    }
                }

                .h600 {
                    width: 131px;
                }

                p.aka {
                    width: 283px;
                }
            }

        }

        div#floating-picture.faded {
            filter: saturate(0.7);

            div#overlay {
                opacity: 1;
                height: 528px;
                background-color: rgba(43, 43, 43, 0.5);
            }
        }

        div#floating-picture.hidden {
            opacity: 0;
        }
    }
}

section#header {
    #green-header-small {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-bottom: $xl;
    }

    #green-header-large {
        background-color: $deep-sea-400;
        color: $white-500;

        #green-header-large-text {
            width: 648px;
            padding-bottom: 62px;

            #book-buttons {
                .button {
                    margin-right: $s;
                }
            }
        }
    }
}

.container {

    section#image {
        img {
            width: 100%;
            height: auto;
        }
    }

    section#about {
        margin-top: 48px;
    }

    section#define {
        .button {
            width: 100%;
            box-sizing: border-box;
        }

    }

    section#treat {
        #service-buttons {
            button:not(:last-child) {
                margin-right: $xs;
            }
        }
    }

    section#repair {
        img {
            width: 100%;
            height: auto;
        }
    }

    section#results {
        .carousel {
            padding-bottom: $xl;
        }

        .result-widget {
            margin-top: $l;
        }

        a.button.outline {
            width: 100%;
            box-sizing: border-box;
        }

        @media screen and (min-width: $tablet) {
            .carousel {
                .slide {
                    flex: 1 0 50%;
                    box-sizing: border-box;
                    padding-left: $s;
                    padding-right: $s;
                }

                .slide:first-child {
                    padding-left: 0;
                }

                .slide:last-child {
                    padding-right: 0;
                }
            }

            a.button.outline {
                width: auto;
                box-sizing: initial;
            }
        }
    }

    section#define,
    section#treat,
    section#prevent,
    section#repair,
    section#results,
    section#reviews,
    section#faq,
    section#skin-guide,
    section#specialists,
    section#brands {
        margin-top: 72px;
    }

    @media screen and (min-width: $tablet) {
        section#define {
            .button {
                width: auto;
                box-sizing: initial;
            }
        }

        section#about,
        section#define,
        section#treat,
        section#prevent,
        section#repair,
        section#results,
        section#reviews,
        section#faq,
        section#skin-guide,
        section#specialists,
        section#brands {
            margin-top: 88px;
        }
    }

    img.step-image {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: $widescreen) {
    .container {
        #content {
            max-width: 750px;
        }
    }
}

// Ensures floater is never above content
@media screen and (min-width: 1408px) {
    .container {
        #content {
            max-width: 872px;
        }
    }
}