@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';


div#content {
    margin: 0 auto;
    max-width: 872px;

    section#title {
        margin-top: $xl;

        p {
            @include p200;
            margin-top: $xs;
        }

        @include desktop {
            margin-top: $xl4;

            p {
                margin-top: $s;
            }
        }
    }

    section#contact-details {
        .is-hidden-desktop {
            div.p200 {
                margin-top: $xl;
            }

            a.button {
                margin-top: $s;
            }
        }
    }

    section#confirmation {
        margin-top: $xl;

        #confirmation-banner {
            padding: $xl;
            background-color: $deep-sea-400;
            border-radius: $radius-l;
            color: $white-500;
            display: flex;
            flex-direction: column;

            @include desktop {
                align-items: center;
                justify-content: space-between;
                flex-direction: row;

                a {
                    text-decoration: underline;
                }
            }
        }
    }

    section#form {
        .is-hidden-desktop {
            form {
                margin-top: $xl;
                padding: $xl;
                border: 1px solid $light-200;
                border-radius: $radius-l;
                @include elevation-medium;

                input.button {
                    margin-top: $xl;
                }
            }
        }

        .is-hidden-touch {
            form {
                margin-top: $xl;
                padding: $xl3;
                border: 1px solid $light-200;
                border-radius: $radius-l;

                input.button {
                    margin-top: $xl;
                }
            }
        }
    }
}

.large-margin {
    margin-top: 72px;

    @include desktop {
        margin-top: 104px;
    }
}