@import "../styles/util/colors";
@import "../styles/util/sizes";

html {
    scroll-behavior: smooth;

    body {
        section#header {
            #green-header-small {
                background-color: $deep-sea-400;
                color: $white-500;
                padding-bottom: $xl;

                .procedures {
                    overflow: hidden;

                    .procedure {
                        display: flex;
                        justify-content: space-between;
                        padding: $m 0;
                        border-bottom: 1px solid $white-200;

                        div:last-child {
                            .p200 {
                                font-size: 0.9em;
                            }
                        }
                    }

                    .procedure:first-child {
                        border-top: 1px solid $white-200;
                    }
                }
            }

            #green-header-large {
                background-color: $deep-sea-400;
                color: $white-500;

                #green-header-large-text {
                    width: 648px;
                    padding-bottom: 62px;

                    .large-procedures {
                        border-radius: $radius-l;
                        overflow: hidden;

                        .large-procedure {
                            padding: $m;
                            background-color: $deep-sea-500;
                            flex: 1;
                            margin-right: 1px;

                            div:last-child {
                                white-space: nowrap;

                                .p200 {
                                    font-size: 0.9em;
                                    color: $white-800;
                                }
                            }

                        }
                    }

                    #book-buttons {
                        .button {
                            margin-right: $s;
                        }
                    }
                }
            }
        }

        .container {
            #content {
                section#image {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                section#problems {
                    hr.divider {
                        border: none;
                        border-top: 1px solid $light-200;
                        margin: $xxl 0;
                    }
                }

                @media screen and (min-width: $widescreen) {
                    max-width: 750px;
                }

                // Ensures floater is never above content
                @media screen and (min-width: 1408px) {
                    max-width: 872px;

                }
            }
        }
    }
}