@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/typography';
@import '../includes/widgets/results_grid/results_grid';
@import '../includes/widgets/results/results_narrow';

html {
    scroll-behavior: smooth;

    body {
        .container {
            #content {
                section#image {
                    font-size: 0;

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: $radius-l;
                    }
                }

                section#about {
                    img {
                        margin-top: $xl;
                        width: 100%;
                        height: auto;
                        border-radius: $radius-l;
                    }

                    div.infobox {
                        margin-top: $xl;
                        background-color: $deep-sea-25;
                        border: 1px solid $deep-sea-300;
                        border-radius: $radius-l;
                        @include p200;

                        div.ib-header {
                            cursor: pointer;
                            padding: $xl;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .icon {
                                margin-left: $xl;
                                min-width: $m;
                                height: $m;
                                padding: $s;

                                >svg {
                                    width: $m;
                                    height: $m;
                                }

                                transition: transform 300ms ease;
                            }

                            .icon.is-open {
                                transform: rotate(-180deg);
                            }
                        }

                        div.ib-content {
                            padding: 0 $xl $xl $xl;
                        }


                    }

                    a {
                        @include p200;
                        font-weight: bold !important;
                        text-decoration: underline;
                    }
                }

                section#types {
                    .consultation-type {

                        .consultation-type-text {
                            h3 {
                                @include h200;
                            }

                            p {
                                @include p200;
                                margin-top: $xxs;
                                color: $dark-200;
                            }
                        }
                    }

                    @include touch {
                        .consultation-type {
                            border-top: 1px solid $light-200;
                            padding: $xl 0;

                            .consultation-type-button {
                                margin-top: $xl;
                                position: relative;

                            }
                        }

                        .consultation-type:last-child {
                            border-bottom: 1px solid $light-200;
                        }
                    }

                    @include desktop {
                        .consultation-type {
                            margin-top: $m;
                            border: 1px solid $light-200;
                            border-radius: $radius-l;
                            padding: $xl;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .consultation-type-text {
                                margin-right: $xl;

                            }
                        }
                    }


                }
            }
        }

        @media screen and (min-width: $widescreen) {
            .container {
                #content {
                    max-width: 750px;
                }
            }
        }

        // Ensures floater is never above content
        @media screen and (min-width: 1408px) {
            .container {
                #content {
                    max-width: 872px;
                }
            }
        }
    }
}