.brands-widget {
  margin-top: $m;
  position: relative;

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: $radius-l;
    margin: 0 -1px;

    .flex-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white-500;

      height: $xl5;
      box-sizing: border-box;
      padding: $l $s;
      margin: 1px;


      flex: 1;

      img {
        width: auto;
        height: auto;
        max-height: 100%;
      }
    }

    .flex-item:hover {
      background-color: $light-25;
    }

    .flex-item:active {
      background-color: $light-50;
    }
  }

  .brand-mask {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    .flex-container {

      flex-wrap: nowrap;
      overflow-x: scroll;
      padding-bottom: $xs;

      .flex-item {
        flex: 0 0 150px;
        margin: $xxs;
        border-radius: $radius-l;
        user-select: none;
      }
    }

    .flex-container::-webkit-scrollbar {
      height: $s;
    }

    /* Track */
    .flex-container::-webkit-scrollbar-track {
      background: $white-500;
    }

    /* Handle */
    .flex-container::-webkit-scrollbar-thumb {
      background: $light-200;
    }

    /* Handle on hover */
    .flex-container::-webkit-scrollbar-thumb:hover {
      background: $light-500;
    }

    .brand-mask {
      display: block;
      position: absolute;
      top: 0;
      width: 88px;
      height: 100%;

    }

    #brand-mask-left {
      left: -1px;
      background: linear-gradient(to right, $white-500 0%, rgba(255, 255, 255, 0) 100%);
    }

    #brand-mask-right {
      background: linear-gradient(to left, $white-500 0%, rgba(255, 255, 255, 0) 100%);
      right: -1px;
    }
  }

}