@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.result-customer-card-widget {
    background-color: $white-500;
    @include elevation-low();
    border-radius: $radius-l;
    overflow: hidden;
    margin-top: $xl;

    .customer-card-photos {
        display: flex;
        font-size: 0;

        picture {
            flex: 1;

            img {
                width: 100%;
                height: auto;
            }
        }

        picture:first-child {
            margin-right: 1px;
        }

        picture:last-child {
            margin-left: 1px;
        }
    }


    .customer-card-content {
        border: 1px solid $light-200;
        border-top: 0;
        border-bottom-left-radius: $radius-l;
        border-bottom-right-radius: $radius-l;
        padding: $xl;

        .customer-details {
            padding: $m 0 $xl 0;
            display: flex;
            border-bottom: 1px solid $light-200;
        }

        .treatment-details {
            margin-top: $xl;

            .treatment-details-title {
                display: flex;
                align-items: center;

                .dot {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $dark-25;
                    margin: 0 $xs;
                }
            }

            .detail-card {
                margin-top: $m;
                display: flex;
                align-items: center;

                img {
                    width: 102px;
                    height: 102px;
                    border-radius: $radius-s;
                    margin-right: $m;
                }

            }

            hr {
                margin-top: $xl;
                margin-bottom: 0;
                border: 0;
                border-top: 1px solid $light-200;
            }

            .button {
                margin-top: $xl;
            }
        }
    }

    @media screen and (min-width: $widescreen) {
        box-shadow: none;
        border-radius: 0;
        display: flex;
        margin-top: 104px;
        padding-bottom: 104px;
        border-bottom: 1px solid $light-200;

        .customer-card-photos {
            picture {
                img {
                    border-radius: $radius-l;
                }
            }
        }

        .customer-card-content {
            flex: 1;
            border: 0;
            padding: 0;
            margin-left: $xl;

            .treatment-details {
                .detail-card {
                    img {
                        width: 64px;
                        height: 64px;
                    }

                    .detail-card-content {
                        .name-and-count {
                            display: flex;
                            align-items: center;

                            .dot {
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                background-color: $dark-25;
                                margin: 0 $xs;
                            }
                        }
                    }
                }

                .button {
                    width: initial;
                    box-sizing: content-box;
                }
            }
        }


    }
}