@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';
@import '../../../styles/util/sizes';

div.problem-trivia-card-widget {
    .trivia-prefix {
        padding: $xxs $xs;
        background-color: $deep-sea-400;
        color: $white-500;
        border-radius: $radius-s;
        margin-right: $xs;
    }

    .flex-row {
        flex-wrap: wrap;
        justify-content: space-between;

        .trivia-icon {
            margin-top: $xl;
            @include h200;
            text-align: center;


            .icon {
                width: 40px;
            }

        }

        @media screen and (min-width: $desktop) {
            justify-content: flex-start;

            .trivia-icon {
                margin-right: $xxl;
            }
        }
    }


}