@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';
@import '../../../styles/util/sizes';

div.problem-trivia-card-widget {
    .trivia-prefix {
        padding: $xxs $xs;
        background-color: $deep-sea-400;
        color: $white-500;
        border-radius: $radius-s;
        margin-right: $xs;
    }

    .flex-row {
        flex-wrap: wrap;

        .trivia-icon {
            margin-top: $xl;
            flex: 1 0 50%;
            @include h200;
            display: flex;
            align-items: center;

            .icon {
                margin-right: $xs;
                width: $xxl;
                height: $xxl;
            }

            @media screen and (min-width: $desktop) {
                flex: 0;
                margin-right: $xxl;
            }
        }
    }


}