.results-widget {
    .flex-row {

        .result-step-buttons {
            flex: 0 0 110px;
        }
    }

    .results-scroller {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .results-container {
            display: flex;

            .result-divider {
                flex: 1 0 $xl;
            }

            .result-divider:last-child {
                display: none;
            }
        }
    }

    .results-scroller::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    #results-large {
        #results-container {
            display: flex;
            overflow: hidden;
            margin: 0 - $s;

            .result-overlay {
                padding: 0 $s;
                flex: 1;

                .ro-images {
                    width: 100%;
                    height: 424px;
                }
            }
        }
    }
}