.specialists-widget {
    margin-top: $xl;

    .specialists-small {
        // Allow .container overflow
        margin-left: - $m;
        margin-right: - $m;
        padding-left: $m;
        padding-right: $m;

        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .specialist {
            flex: 1 0 240px;
            margin-right: $m;

            img {
                border-radius: $radius-l;
            }

            h3 {
                margin-top: $m;
                @include h200;
            }

            p {
                margin-top: $xxs;
                @include p200;
                color: $dark-200;
            }
        }

        .specialist:last-child {
            margin-right: 0;
        }
    }

    .specialists-small::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .specialists-large {
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;

        img {
            width: 100%;
            height: auto;
            border-radius: $radius-l;
        }

        h3 {
            margin-top: $m;
            @include h200;
        }

        p {
            margin-top: $xxs;
            @include p200;
            color: $dark-200;
        }
    }

    .specialists-large::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}