@import '../../styles/util/colors';
@import '../../styles/util/sizes';
@import '../../styles/util/mixins';

section#banner {
    #banner-green {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-top: $xl;
        padding-bottom: $xl;
        @include p100;

        .underline {
            cursor: pointer;
            text-decoration: underline;
        }

        #page-title-desktop {
            width: 1px;
        }
    }

    @media screen and (min-width: $desktop) {
        #banner-green {
            padding-top: 0;
            padding-bottom: $m;

            #banner-green-desktop {
                padding-bottom: $xl5;

                #skin-problems-header-column {
                    flex: 1 0 425px;
                }
            }
        }
    }
}

section#subcategories {
    padding-bottom: $xl;

    #subcategory-links-tablet {
        margin-top: $m;
        border-radius: $radius-l;
        border: 1px solid $light-200;
        @include elevation-medium();

        .subcategory-link {
            @include h100;
            cursor: pointer;
            display: block;
            border-bottom: 1px solid $light-200;
            text-align: center;
            padding: $l 0;
        }

        .subcategory-link:last-child {
            border-bottom: 0;
        }
    }

    #subcategory-links-desktop {
        margin-top: -36px;
        background-color: $white-500;
        border: 1px solid $light-200;
        border-radius: $radius-l;
        position: relative;
        user-select: none;
        overflow: hidden;


        .scroll-button-container {
            position: absolute;
            padding: $m;
        }

        #scroll-left {
            left: 0;
            padding-right: $l;
            background: linear-gradient(90deg, $white-500 80%, rgba(255, 255, 255, 0) 100%);
        }

        #scroll-right {
            right: 0;
            padding-left: $l;
            background: linear-gradient(270deg, $white-500 80%, rgba(255, 255, 255, 0) 100%);
        }

        #scroll-content {
            display: flex;
            overflow-x: scroll;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        #scroll-content::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .subcategory-link {
            @include h100;
            cursor: pointer;
            flex: 1;
            border-right: 1px solid $light-200;
            text-align: center;
            padding: $xl;
            white-space: nowrap;
        }

        .subcategory-link:last-child {
            border-right: 0;
        }
    }


}