@import '../../styles/util/colors';
@import '../../styles/util/sizes';
@import '../../styles/util/mixins';

section#banner {
    #banner-green {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-top: $xl;
        padding-bottom: $xl;
        @include p100;

        .underline {
            cursor: pointer;
            text-decoration: underline;
        }

        #page-title-desktop {
            width: 1px;
        }
    }

    @media screen and (min-width: $desktop) {
        #banner-green {
            padding-top: 0;
            padding-bottom: $m;

            #banner-green-desktop {
                padding-bottom: $xl5;

                #skin-problems-header-column {
                    flex: 1 0 425px;
                }
            }
        }
    }
}