@import '../../styles/util/colors';
@import '../../styles/util/sizes';
@import '../../styles/util/mixins';
@import '../widgets/article_card/article_card_widget';
@import '../widgets/paginator/paginator';

section#banner {
    @include desktop {
        .green-header-banner-widget {
            padding-bottom: 102px;
        }
    }
}

section#subcategories {
    padding-bottom: $xl;

    #subcategory-links-tablet {
        margin-top: $m;
        border-radius: $radius-l;
        border: 1px solid $light-200;
        @include elevation-medium();

        .subcategory-link {
            @include h100;
            cursor: pointer;
            display: block;
            border-bottom: 1px solid $light-200;
            text-align: center;
            padding: $l 0;
        }

        .subcategory-link:last-child {
            border-bottom: 0;
        }
    }

    #subcategory-links-desktop {
        margin-top: -36px;
        background-color: $white-500;
        border: 1px solid $light-200;
        border-radius: $radius-l;
        position: relative;
        user-select: none;
        overflow: hidden;
        @include elevation-medium();


        .scroll-button-container {
            position: absolute;
            padding: $m;
        }

        #scroll-left {
            left: 0;
            padding-right: $l;
            background: linear-gradient(90deg, $white-500 80%, rgba(255, 255, 255, 0) 100%);
        }

        #scroll-right {
            right: 0;
            padding-left: $l;
            background: linear-gradient(270deg, $white-500 80%, rgba(255, 255, 255, 0) 100%);
        }

        #scroll-content {
            display: flex;
            overflow-x: scroll;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        #scroll-content::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .subcategory-link {
            @include h100;
            cursor: pointer;
            flex: 1;
            border-right: 1px solid $light-200;
            text-align: center;
            padding: $xl;
            white-space: nowrap;
        }

        .subcategory-link:last-child {
            border-right: 0;
        }
    }


}

section#paginator {
    margin-top: $xl;

    .paginator-widget {
        margin-top: $xl;
    }

    @include desktop {
        #show-more {
            text-align: center;

            .button {
                width: initial;
            }
        }
    }
}

section#cta-banner {
    background-color: $deep-sea-400;
    padding: $xl;
    border-radius: $radius-l;
    color: $white-500;

    #cta-banner-header {
        @include h500;
    }

    #cta-banner-content {
        margin-top: $xs;
    }

    a.button {
        margin-top: $xl;
    }

    @media screen and (min-width: $tablet) {
        padding: $xxl $xl3;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #cta-banner-texts {
            flex: auto;

            #cta-banner-header {
                @include h500;
            }
        }

        a.button {
            flex: 1;
        }
    }
}

section.large-margin {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}