section#nav-buttons {
    position: sticky;
    z-index: 2;
    top: $header-height;

    .nav-buttons-widget {
        background-color: $white-500;
        border-bottom: 1px solid $light-200;
        padding-top: $l;
        position: relative;
        margin-left: - $m;
        margin-right: - $m;
        padding-left: $m;
        padding-right: $m;

        #nav-buttons-scroller {

            display: flex;
            overflow: scroll;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;

            .nav-button {
                flex: 1 0 auto;
                margin-right: $xl;
                border-bottom: 2px solid transparent;
                padding-bottom: $l - 2px;
                color: $dark-200;
                text-align: center;
            }

            .nav-button:last-child {
                margin-right: 0;
            }

            .nav-button.active {
                color: $black-500;
                border-bottom: 2px solid $black-500;
            }
        }


        #nav-buttons-scroller::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .scroll-button {
            position: absolute;
            top: $s;
            width: 80px;
            background: rgb(255, 255, 255);
        }

        #scroll-prev {
            left: 0;
            text-align: left;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
        }

        #scroll-next {
            right: 0;
            text-align: right;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
        }
    }

    @include desktop {
        top: $header-height-large;

        .nav-buttons-widget {
            .slide:hover {
                color: $black-500;
                border-bottom: 2px solid $black-500;
            }

            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}