@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.nav-buttons-widget {
    border-bottom: 1px solid $light-200;
    padding-top: $l;
    position: relative;

    .slide {
        // Override flex of .slide to specify a custom width
        flex: 1 0 auto;
        margin-right: $xl;
        border-bottom: 2px solid transparent;
        padding-bottom: $l - 2px;
        color: $dark-200;
        text-align: center;
    }

    .slide:last-child {
        margin-right: 0;
    }

    .slide:hover {
        color: $black-500;
        border-bottom: 2px solid $black-500;
    }

    .scroll-button {
        position: absolute;
        top: $s;
        width: 80px;
        background: rgb(255, 255, 255);
    }

    #scroll-prev {
        left: 0;
        text-align: left;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
    }

    #scroll-next {
        right: 0;
        text-align: right;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
    }
}