@import '../../styles/util/colors';
@import '../../styles/util/sizes';
@import '../../styles/util/mixins';
@import '../widgets/result_customer_card/result_customer_card';
@import '../../skin-guide/widgets/paginator/paginator';

section#banner {
    #banner-green {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-top: $xl;
        padding-bottom: $xl;
        @include p100;

        .underline {
            cursor: pointer;
            text-decoration: underline;
        }
    }


    @media screen and (min-width: $desktop) {
        #banner-green {
            padding-top: 0;
            padding-bottom: $m;

            #banner-green-desktop {
                padding-bottom: $xl5;

                #skin-problems-header-column {
                    flex: 1 0 425px;
                }
            }
        }
    }
}

section#cards {
    #show-more {
        margin: $xl 0;
    }

    @media screen and (min-width: $tablet) {
        #show-more {
            margin-top: $xl*2;
            text-align: center;

            a.button {
                width: initial;
                box-sizing: border-box;
            }
        }

        #paginator {
            margin-top: $xl;
        }
    }
}

section#cta-banner {
    background-color: $deep-sea-400;
    padding: $xl;
    border-radius: $radius-l;
    color: $white-500;

    #cta-banner-header {
        @include h500;
    }

    #cta-banner-content {
        margin-top: $xs;
    }

    a.button {
        margin-top: $xl;
    }

    @media screen and (min-width: $tablet) {
        padding: $xxl $xl3;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #cta-banner-texts {
            flex: auto;

            #cta-banner-header {
                @include h500;
            }
        }

        a.button {
            flex: 1;
        }
    }
}

section.large-margin {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}