@import "../styles/util/colors";
@import "../styles/util/mixins";
@import "../styles/util/sizes";

html {
    scroll-behavior: smooth;

    .underline {
        text-decoration: underline;
    }

    .strikethrough {
        text-decoration: line-through;
    }

    .lowercase {
        text-transform: lowercase;
    }


    @media screen and (min-width: $tablet) {
        a.auto-width {
            width: auto !important;
            box-sizing: content-box;
        }
    }
}


div#floater {
    position: sticky;
    height: 0;
    top: 72px + $xl5; /// 72px: height of navbar
    z-index: 1;

    div.container {
        text-align: right;
        height: 0;

        div#floating-picture {
            text-align: left;
            position: relative;
            display: inline-block;
            overflow: hidden;
            @include elevation-low();
            transform-origin: center left;
            transition: filter 0.5s ease, opacity 0.5s ease;
            border-radius: $radius-l;

            flex-direction: column;
            justify-content: space-between;
            background-size: cover;

            div#overlay {
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 424px;
                height: 456px;
                padding: $xl $xxl $xxl $xxl;
                box-sizing: border-box;
                transition: opacity 0.5s ease, height 0.5s ease, background-color 0.5s ease;
                color: $white-500;

                .badges-widget {
                    .badge {
                        background-color: rgba(255, 255, 255, 0.2);
                        margin-right: 4px;
                    }

                    .badge:last-child {
                        margin-right: 0;
                    }
                }

                .h600 {
                    width: 131px;
                }

                p.aka {
                    width: 283px;
                }
            }

        }

        div#floating-picture.faded {
            filter: saturate(0.7);

            div#overlay {
                opacity: 1;
                height: 528px;
                background-color: rgba(43, 43, 43, 0.5);
            }
        }

        div#floating-picture.hidden {
            opacity: 0;
        }
    }
}

section#header {
    #green-header-small {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-bottom: $xl;

        .procedures {
            overflow: hidden;

            .procedure {
                display: flex;
                justify-content: space-between;
                padding: $m 0;
            }

            .procedure {
                border-bottom: 1px solid $white-200;
            }

            .procedure:first-child {
                border-top: 1px solid $white-200;
            }
        }
    }

    #green-header-large {
        background-color: $deep-sea-400;
        color: $white-500;

        #green-header-large-text {
            width: 648px;
            padding-bottom: 62px;

            #book-buttons {
                .button {
                    margin-right: $s;
                }
            }
        }
    }
}

.container {
    #content {
        section#image {
            font-size: 0;

            img {
                width: 100%;
                height: auto;
                border-radius: $radius-l;
            }
        }

        section#nav-buttons {
            margin-top: $xs;
            display: flex;
            flex-wrap: wrap;

            .button {
                margin-top: $xs;
                margin-right: $xs;
            }

            @media screen and (min-width: $tablet) {
                margin-top: $m;
            }
        }

        section#about {
            margin-top: $xl3 + $xs;

            .h500 {
                margin-bottom: -$xs;
            }

            hr {
                margin-top: $xxl;
                margin-bottom: $xxl;
                border: none;
                border-top: 1px solid $light-200;
            }

            @media screen and (min-width: $tablet) {
                margin-top: $xl5 + $xs;
            }
        }

        section#approach {
            margin-top: 72px;

            h2 {
                span {
                    display: block;
                }
            }

            hr {
                border: none;
                border-top: 1px solid $light-200;
            }

            @media screen and (min-width: $tablet) {
                margin-top: $xl5 + $xs;

                h2 {
                    span {
                        display: initial;
                    }
                }
            }
        }

        section#types {
            #type-category-buttons {
                display: flex;
                flex-wrap: wrap;

                a.button {
                    margin-top: $xs;
                    margin-right: $xs;
                }
            }

            div.type-category {
                border-top: 1px solid $light-200;
                padding: $xl3 0;

                div.type-category-cards {
                    padding-top: $xs;
                }
            }

            div.type-category:last-child {
                border-bottom: 1px solid $light-200;
            }

            div.type-category-large {
                margin-top: 48px;
            }

            div.type-category-large:first-child {
                margin-top: $xxl;
            }
        }

        section#symptoms {
            #symptom-buttons {
                display: flex;
                flex-wrap: wrap;

                a.button {
                    margin-top: $xs;
                    margin-right: $xs;
                }
            }
        }

        section#define {

            @media screen and (min-width: $tablet) {

                hr {
                    border: none;
                    border-top: 1px solid $light-200;
                }
            }
        }

        section#treatments {

            @media screen and (min-width: $tablet) {

                hr {
                    border: none;
                    border-top: 1px solid $light-200;
                }
            }
        }

        section#results {
            .carousel {
                padding-bottom: $xl;
            }

            .result-widget {
                margin-top: $l;
            }

            a.button.outline {
                width: 100%;
                box-sizing: border-box;
            }

            @media screen and (min-width: $tablet) {
                .carousel {
                    .slide {
                        flex: 1 0 50%;
                        box-sizing: border-box;
                        padding-left: $s;
                        padding-right: $s;
                    }

                    .slide:first-child {
                        padding-left: 0;
                    }

                    .slide:last-child {
                        padding-right: 0;
                    }
                }

                a.button.outline {
                    width: auto;
                    box-sizing: initial;
                }
            }
        }

        section#related-problems {
            .related-problem-card-widget {
                margin-top: $m;
            }

            @media screen and (min-width: $tablet) {
                .related-problem-card-widget {
                    margin-top: $xl;
                }
            }
        }

        section#define,
        section#treatments,
        section#types,
        section#symptoms,
        section#articles,
        section#results,
        section#reviews,
        section#faq,
        section#skin-guide,
        section#specialists,
        section#related-problems {
            margin-top: 72px;

            @media screen and (min-width: $tablet) {
                margin-top: $xl5 + $xs;
            }
        }
    }

    section#brands {
        margin-top: 72px;

        @media screen and (min-width: $tablet) {
            margin-top: $xl5 + $xs;
        }
    }
}

@media screen and (min-width: $widescreen) {
    .container {
        #content {
            max-width: 750px;

            section#nav-buttons {

                .button {
                    margin-top: $xxs;
                    margin-right: $xxs;
                }
            }
        }
    }
}

// Ensures floater is never above content
@media screen and (min-width: 1408px) {
    .container {
        #content {
            max-width: 872px;
        }
    }
}