@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

html {
    scroll-behavior: smooth;

    section#banner {
        background-color: $deep-sea-400;
        padding: $xxs 0;

        .badges-widget {
            flex: 1;

            .badge {
                @include button-text-color($white-500);
                color: $white-500;
                background-color: transparent;
            }

            .badge:first-child {
                padding-left: 0;
            }

            .badge:last-child {
                padding-right: 0;
            }
        }

        @include desktop {
            .badges-widget {
                flex: 0;
            }

            .breadcrumbs-widget {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    section#desktop-breadcrumbs {
        .breadcrumbs-widget {
            .segment {
                color: $dark-200;
            }

            .separator {
                background-color: $dark-200;
            }
        }
    }

    #article-wrapper {
        margin: 0 auto;
        max-width: 872px;

        section#metadata {
            margin-top: $xl;

            h1#article-title {
                @include h600;
            }

            h3#article-subtitle {
                @include p200;
                margin-top: $xs;
            }

            img {
                margin-top: $xl;
                width: 100%;
                height: auto;
                border-radius: $radius-l;
            }


            @include desktop {
                margin-top: $xl4;

                h1#article-title {
                    @include h700;
                }

                h3#article-subtitle {
                    margin-top: $s;
                }

                img {
                    margin-top: $xl3;
                }
            }
        }

        section#nav-buttons {
            top: $xl4; // nav height
            background-color: $white-500;
            margin: 0 - $m;
            padding: 0 $m;

            #nav-buttons-container {
                border-bottom: 1px solid $light-200;

                #nav-buttons-scroller {
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    scrollbar-width: none;
                    -ms-overflow-style: none;

                    .nav-button {
                        padding: $l 0;
                        margin: 0 $s;
                        @include p100;
                        cursor: pointer;
                        white-space: nowrap;
                        color: $dark-200;
                    }

                    .nav-button:first-child {
                        margin-left: 0;
                    }

                    .nav-button:last-child {
                        margin-right: 0;
                    }

                    .nav-button.active {
                        color: $black-500;
                        border-bottom: 3px solid $black-500;
                    }
                }

                #nav-buttons-scroller::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }

            @include desktop {
                top: 72px;
            }
        }

        section#content {
            margin-top: $xs;

            h2 {
                // Compensate for fixed headers
                scroll-margin-top: 130px;
                margin-top: $xl3;
                @include h400;
            }

            h3 {
                margin-top: $xxl;
                @include h300;
            }

            p {
                margin-top: $m;
                @include p250;
            }

            ul,
            ol {
                @include p250;
                padding-left: $l;

                li {
                    margin-top: $m;
                }
            }

            img {
                border-radius: $radius-l;
                margin-top: $xl3;
                width: 100%;
                height: auto;
            }

            .article-card {
                margin-top: $xl;
                font-size: 0;
                display: block;
                border-radius: $radius-l;
                @include elevation-low;

                img {
                    margin: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .ac-content {
                    margin: 0;
                    padding: $xl;
                    border: 1px solid $light-200;
                    border-bottom-left-radius: $radius-l;
                    border-bottom-right-radius: $radius-l;

                    .ac-category {
                        @include p200;
                        color: $dark-200;
                    }

                    .ac-name {
                        margin-top: $xxs;
                        @include h300;
                    }

                    .ac-desc {
                        margin-top: $xs;
                        @include p200;
                    }

                    .ac-link {
                        @include h100;
                        display: block;
                        margin-top: $m;
                        color: $deep-sea-400;
                        text-align: center;
                        border: 1px solid $deep-sea-400;
                        border-radius: $radius-s;
                        padding: $s;
                    }

                    hr {
                        margin: $xl 0;
                        border: 0;
                        border-top: 1px solid $light-200;
                    }

                    .button.expand {
                        margin-top: $s;

                    }
                }
            }


            .cta-banner {
                background-color: $deep-sea-400;
                padding: $xl;
                border-radius: $radius-l;
                color: $white-500;
                margin-top: $xl3;

                .cta-banner-header {
                    @include h500;
                }

                .cta-banner-content {
                    margin-top: $xs;
                }

                a.button {
                    margin-top: $xl;
                }

                @media screen and (min-width: $tablet) {
                    padding: $xxl $xl3;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .cta-banner-texts {
                        flex: auto;

                        .cta-banner-header {
                            @include h500;
                        }
                    }

                    a.button {
                        flex: 1;
                    }
                }
            }

            figure {
                border-left: 3px solid $black-500;
                padding-left: $xxl;
                margin-top: $xl3;
                margin-left: 0;

                blockquote {
                    @include p400;
                    margin: 0;
                }

                figcaption {
                    margin-top: $m;
                    @include p100;
                    font-style: italic;
                    color: $dark-200;
                }
            }

            .service-banner-touch {
                @include elevation-low;
                padding: $xl;
                font-size: 0;
                margin-top: $xl;

                div.banner-info {
                    display: flex;
                    align-items: center;

                    h4 {
                        @include h200;
                    }

                    p {
                        @include p200;
                        color: $dark-200;
                        margin-top: $xxs;
                        display: flex;
                        align-items: center;

                        span.dot {
                            display: inline-block;
                            margin: 0 $xs;
                            background-color: $dark-25;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                        }
                    }

                    img {
                        width: 102px;
                        height: auto;
                        margin-top: 0;
                        margin-right: $m;
                    }
                }

                p.banner-text {
                    @include p200;
                    margin: $m 0;
                }

                hr {
                    margin: $xl 0;
                    border: 0;
                    border-top: 1px solid $light-200;
                }

            }

            .service-banner-desktop {
                border-top: 1px solid $light-200;
                font-size: 0;
                padding: $xxl 0;
                display: flex;
                align-items: center;

                img {
                    margin-top: 0;
                    margin-right: $xl;
                    width: 200px;
                    height: auto;
                }


                .banner-info {
                    margin-right: $xl;

                    h4 {
                        @include h200;
                    }

                    .banner-price {
                        color: $dark-200;
                        @include p200;
                        margin-top: $xxs;
                        display: flex;
                        align-items: center;

                        span.dot {
                            display: inline-block;
                            margin: 0 $xs;
                            background-color: $dark-25;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                        }
                    }

                    .banner-text {
                        margin-top: $xs;
                        @include p200;
                    }

                    .button.text {
                        padding: $xs 0;
                    }
                }

                .banner-buttons {
                    .button {
                        margin-top: $xs;
                    }
                }
            }

            .service-banner-desktop:last-child {
                border-bottom: 1px solid $light-200;
            }

            .result-overlay {
                margin-top: $xl;
                @include elevation-low;
                user-select: none;

                .ro-images {
                    border-top-left-radius: $radius-l;
                    border-top-right-radius: $radius-l;
                    overflow: hidden;
                    height: 358px;
                    position: relative;

                    img {
                        pointer-events: none;
                        position: absolute;
                        top: 50%;
                        margin: -50% 0 0 0;
                        width: 100%;
                        height: auto;
                        border-radius: 0;
                    }

                    img.after {
                        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);
                    }

                    .ro-slider {
                        position: relative;
                        height: 100%;
                        margin-left: 50%;
                        width: 1px;
                        background-color: $white-500;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .ro-slider-button {
                            width: $xl4;
                            height: $xl4;
                            background-color: $white-500;
                            border-radius: 50%;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .ro-icon-left,
                            .ro-icon-right {
                                pointer-events: none;
                                width: $xs;
                                height: $xs;
                                transform: rotate(-45deg);
                            }

                            .ro-icon-left {
                                border-top: 1px solid $black-500;
                                border-left: 1px solid $black-500;
                            }

                            .ro-icon-right {
                                border-bottom: 1px solid $black-500;
                                border-right: 1px solid $black-500;
                            }
                        }
                    }

                }


                .ro-info {
                    border: 1px solid $light-200;
                    border-top: 0;
                    border-bottom-left-radius: $radius-l;
                    border-bottom-right-radius: $radius-l;
                    padding: $m;
                    @include p200;

                    a {
                        @include h200;
                        text-decoration: underline;
                    }
                }
            }

            @include desktop {
                h2 {
                    scroll-margin-top: 140px;
                }

                .article-card {
                    margin-top: 2*$xl;
                    box-shadow: none;

                    .ac-content {
                        .ac-link {
                            @include h200;
                            text-align: left;
                            border: 0;
                            padding: 0;
                        }

                        .button.expand {
                            margin-top: 0;
                            @include h200;
                        }
                    }
                }

                .result-overlay {
                    box-shadow: none;

                    .ro-images {
                        height: 424px;
                    }
                }
            }
        }
    }


}