@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

html {
    scroll-behavior: smooth;

    section#banner {
        background-color: $deep-sea-400;
        padding: $xxs 0;

        .badges-widget {
            flex: 1;

            .badge {
                @include button-text-color($white-500);
                color: $white-500;
                background-color: transparent;
            }

            .badge:first-child {
                padding-left: 0;
            }

            .badge:last-child {
                padding-right: 0;
            }
        }

        @include desktop {
            .badges-widget {
                flex: 0;
            }

            .breadcrumbs-widget {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    section#desktop-breadcrumbs {
        .breadcrumbs-widget {
            .segment {
                color: $dark-200;
            }

            .separator {
                background-color: $dark-200;
            }
        }
    }

    #article-wrapper {
        margin: 0 auto;
        max-width: 872px;

        section#metadata {
            margin-top: $xl;

            h1#article-title {
                @include h600;
            }

            h3#article-subtitle {
                @include p200;
                margin-top: $xs;
            }

            img {
                margin-top: $xl;
                width: 100%;
                height: auto;
                border-radius: $radius-l;
            }


            @include desktop {
                margin-top: $xl4;

                h1#article-title {
                    @include h700;
                }

                h3#article-subtitle {
                    margin-top: $s;
                }

                img {
                    margin-top: $xl3;
                }
            }
        }

        section#nav-buttons {
            top: $xl4; // nav height

            #nav-buttons-container {
                border-bottom: 1px solid $light-200;
                background-color: $white-500;

                #nav-buttons-scroller {
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    scrollbar-width: none;
                    -ms-overflow-style: none;

                    .nav-button {
                        padding: $l 0;
                        margin: 0 $s;
                        @include p100;
                        cursor: pointer;
                        white-space: nowrap;
                        color: $dark-200;
                    }

                    .nav-button:first-child {
                        margin-left: 0;
                    }

                    .nav-button:last-child {
                        margin-right: 0;
                    }

                    .nav-button.active {
                        color: $black-500;
                        border-bottom: 3px solid $black-500;
                    }
                }

                #nav-buttons-scroller::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }

            @include desktop {
                top: 72px;
            }
        }

        section#content {
            margin-top: $xs;

            h2 {
                // Compensate for fixed headers
                scroll-margin-top: 130px;
                margin-top: $xl3;
                @include h400;
            }

            h3 {
                margin-top: $xxl;
                @include h300;
            }

            p {
                margin-top: $m;
                @include p250;
            }

            ul,
            ol {
                @include p250;
                padding-left: $l;

                li {
                    margin-top: $m;
                }
            }

            img {
                border-radius: $radius-l;
                margin-top: $xl3;
                width: 100%;
                height: auto;
            }

            .problem-skin-card {
                margin-top: $xl;
                font-size: 0;
                display: block;
                border-radius: $radius-l;
                @include elevation-medium;

                img {
                    margin: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .psc-content {
                    margin: 0;
                    padding: $xl;
                    border: 1px solid $light-200;
                    border-bottom-left-radius: $radius-l;
                    border-bottom-right-radius: $radius-l;

                    .psc-category {
                        @include p200;
                        color: $dark-200;
                    }

                    .psc-name {
                        margin-top: $xxs;
                        @include h300;
                    }

                    .psc-desc {
                        margin-top: $xs;
                        @include p200;
                    }

                    .psc-link {
                        @include h200;
                        display: block;
                        margin-top: $m;
                        color: $deep-sea-400;
                        text-align: center;
                        border: 1px solid $deep-sea-400;
                        border-radius: $radius-s;
                        padding: $s;
                    }
                }
            }

            @include desktop {
                h2 {
                    scroll-margin-top: 140px;
                }

                .problem-skin-card {
                    margin-top: 2*$xl;
                    box-shadow: none;

                    .psc-content {
                        .psc-link {
                            text-align: left;
                            border: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }


}