.skin-guide-widget {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;

    div.columns {
        margin-top: 0;
    }

    .skin-guide-article {
        margin-top: $m;
        padding: $xl;
        border-radius: $radius-l;
        @include elevation-low();
        display: flex;
        align-items: center;
        border: 1px solid $light-200;

        font-size: 0;

        img {
            border-radius: $radius-s;
            width: 102px;
            height: auto;
            margin-right: $m;
        }

        h3 {
            @include h200;
        }

        p {
            margin-top: $xxs;
            @include p200;
        }

        .skin-guide-category {
            color: $dark-200;
        }

        @media screen and (min-width: $tablet) {
            display: block;
            margin-top: 0;
            padding: 0;
            border-radius: 0;
            border: none;
            box-shadow: none;
            cursor: pointer;

            .image-container {
                overflow: hidden;
                border-radius: $radius-l;

                img {
                    width: 100%;
                    height: auto;
                    margin: 0;
                    transition: transform 300ms ease;

                }

            }

            .image-container:hover {
                img {
                    transform: scale(1.1, 1.1);
                }
            }


            h3 {
                margin-top: $m;
            }
        }
    }

    .skin-guide-article:hover {
        h3 {
            color: $deep-sea-400;
        }
    }

    @include desktop {
        margin-top: $xl;
    }
}

.skin-guide-widget::-webkit-scrollbar {
    width: 0;
    height: 0;
}