/// IMPORTANT: 
/// Don't edit this file unless you know what you are doing!

.icon,
.i100 {
    width: 16px;
    height: 21px;
    display: inline-flex;
    overflow: hidden;

}

.icon>svg {
    position: relative;
}