/// IMPORTANT: 
/// Don't edit this file unless you know what you are doing!

.icon,
.i100 {
    vertical-align: sub;
    display: inline-flex;
    overflow: hidden;

}

.icon>svg {
    position: relative;
}