@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';
@import '../../../styles/util/sizes';

.symptom-card-widget {
    display: block;
    margin-top: $xl;
    padding: 24px;
    border: 1px solid $light-200;
    border-radius: $radius-l;
    @include elevation-low();
    transition: box-shadow 300ms ease;

    div.image {
        position: relative;
        flex: 0 0 102px;
        font-size: 0;

        img {
            width: 100%;
            height: auto;
            border-radius: $radius-s;
            overflow: hidden;
        }
    }

    div.image:after {
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .scw-aka {
        color: $dark-200;
    }


    @media screen and (min-width: $tablet) {
        box-shadow: none;

        //height: 374px;
        box-sizing: border-box;

        div.image {
            height: 102px;

            img {
                height: 100%;
                width: auto;
            }
        }

        .scw-content {
            .scw-content-text {
                height: 120px;
                overflow-y: auto;
                text-overflow: ellipsis;

                // hide scrollbar
                &::-webkit-scrollbar {
                    display: none;
                }

                -ms-overflow-style: none;

            }
        }
    }
}

.symptom-card-widget:hover {
    @include elevation-medium();
}