@import '../styles/util/typography';
@import 'widgets/treatment-area-item-card/treatment-area-item-card';

html {

    .underline {
        text-decoration: underline;
    }

    .strikethrough {
        text-decoration: line-through;
    }

    .lowercase {
        text-transform: lowercase;
    }
}

#floating-procedures {
    border-radius: $radius-l;
    overflow: hidden;

    div.floating-procedure {
        white-space: nowrap;
        background-color: $white-200;
        margin-bottom: 1px;
        padding: $m;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .floating-procedure-price {


            span.p200 {
                font-size: 0.8em;
            }
        }
    }
}

.container {
    #content {
        section#image {
            font-size: 0;
            margin-top: $xl;

            img {
                width: 100%;
                height: auto;
                border-radius: $radius-l;
            }
        }

        section#about {
            margin-top: $xl3 + $xs;

            .h500 {
                margin-bottom: - $xs;
            }

            hr {
                margin-top: $xxl;
                margin-bottom: $xxl;
                border: none;
                border-top: 1px solid $light-200;
            }

            @media screen and (min-width: $tablet) {
                margin-top: $xl5 + $xs;
            }
        }

        section#combos {
            .service-combo-widget {
                margin-top: $xl;
            }

            @media screen and (min-width: $tablet) {
                h2 {
                    margin-bottom: $xl + 1px;
                }

                .service-combo-widget {
                    margin-top: -1px;
                }
            }
        }

        section#treatment-areas {

            ul#treatment-area-selector {
                position: sticky;
                top: 56px;
                padding: 0;
                margin: $m 0;
                border-bottom: 1px solid $light-200;
                background-color: $white-500;
                display: flex;
                overflow-x: auto;
                // hide scrollbar
                scrollbar-width: none;
                -ms-overflow-style: none;


                li {
                    list-style-type: none;
                    @include p100;
                    padding: $xl 0;
                    margin-right: $xl;
                    white-space: nowrap;
                    border-bottom: 3px solid transparent;
                    cursor: pointer;
                }

                li.active {
                    border-color: $deep-sea-300;
                }

                @include desktop {
                    top: 72px;
                    margin: $xl4 0;
                }
            }

            .treatment-area {
                scroll-margin-top: 140px;

                @include desktop {
                    scroll-margin-top: 160px;
                }
            }

            img.treatment-area-image {
                margin-top: $xl4;
                border-radius: $radius-l;
                width: 100%;
                height: auto;
            }
        }



        section#results {

            .result-widget {
                margin-top: $l;
            }

            a.button.outline {
                width: 100%;
                box-sizing: border-box;
            }

            @media screen and (min-width: $tablet) {
                a.button.outline {
                    width: auto;
                    box-sizing: initial;
                }
            }
        }

        section#related-problems {
            .related-problem-card-widget {
                margin-top: $m;
            }

            @media screen and (min-width: $tablet) {
                .related-problem-card-widget {
                    margin-top: $xl;
                }
            }
        }

        section#types {
            hr {
                border: 0;
                border-top: 1px solid $light-200;
                margin: 0;
            }

            .big-type {
                margin-top: $xl4;

                @include desktop {
                    border-top: 1px solid $light-200;
                }
            }

            .big-type:last-child {
                @include desktop {
                    padding-bottom: $xl4;
                    border-bottom: 1px solid $light-200;
                }
            }

            .service-card-big-widget {
                margin-top: $xl;

                @media screen and (min-width: $tablet) {
                    margin-top: $xl4;
                }
            }
        }
    }

    section#brands {
        margin-top: 72px;

        @media screen and (min-width: $tablet) {
            margin-top: $xl5 + $xs;
        }
    }
}

@media screen and (min-width: $widescreen) {
    .container {
        #content {
            max-width: 750px;
        }
    }
}

// Ensures floater is never above content
@media screen and (min-width: 1408px) {
    .container {
        #content {
            max-width: 872px;
        }
    }
}