@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';
@import 'widgets/service-category-card/service-category-card';

html {
    scroll-behavior: smooth;
}

section#banner {
    div#treatments {
        margin-top: $m;
        background-color: $white-500;
        border: 1px solid $light-200;
        border-radius: $radius-l;
        overflow: hidden;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);

        .treatment {
            text-align: center;
            border: 1px solid $light-200;
            height: 72px;
            margin-left: -1px;
            margin-top: -1px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .treatment:nth-child(6n) {
            border-right: 0;
        }
    }

    @include desktop {
        div#treatments {
            margin-top: $xxl;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            box-shadow: none;

        }
    }


}

section#links {
    margin-top: $xl;

    @include desktop {
        margin-top: $xl3;
    }
}

section#consultation-banner {
    margin-top: $xl;

    @media screen and (min-width: $tablet) {
        margin-top: $xl5 + $xl;
    }
}

section#links {
    #psf-title {
        margin-top: $xxl;
        margin-bottom: $m;
    }

    // People search for..
    div#psf {
        display: flex;
        flex-wrap: wrap;

        .psf-treatment {
            padding: 10px $m;
            //background-color: $light-200;
            //color: $dark-400;
            margin-right: $xxs;
            margin-bottom: $xxs;
            //border-radius: $radius-s;
            @include h200;
        }

        /*
        .psf-treatment:hover {
            background-color: $light-50;
        }*/
    }
}

section#results {
    margin-top: 72px;

    .result-widget {
        margin-top: $l;
    }

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}

section#reviews {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}


section#faq {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}

section#skin-guide {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}

section#specialists {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}

section#brands {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}