div.article-widget {
    margin-top: $xxl*2;

    img {
        margin-top: $xl;
        width: 100%;
        height: auto;
        border-radius: $radius-l;
    }

    div.article-tags {
        display: flex;
        justify-content: space-between;

        div.article-tag {
            margin-top: $xl;
            text-align: center;

            .icon {
                height: $xl4;
            }

        }

        @include desktop {
            justify-content: flex-start;

            div.article-tag {
                margin-right: $xxl;
            }

        }
    }

    div.article-content {
        margin-top: $xl;
    }

    @media screen and (min-width: $tablet) {
        margin-top: $xl5 + $xs;

    }
}