div.article-widget {
    margin-top: $xxl*2;

    img {
        margin-top: $xl;
        width: 100%;
        height: auto;
        border-radius: $radius-l;
    }

    div.article-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        div.article-tag {
            margin-top: $xl;
            margin-right: $xxl;
            text-align: center;

            .icon {
                height: $xl4;
            }
        }

        div.article-tag:last-child {
            margin-right: 0;
        }

    }

    div.article-content {
        margin-top: $xl;
    }

    @media screen and (min-width: $tablet) {
        margin-top: $xl5 + $xs;

    }
}