.salon-card-widget {
    div.h500.is-hidden-desktop {
        margin-bottom: $xl;
    }

    .salon-card-flex {
        display: flex;
        flex-direction: column;

        picture {
            flex: 1;
        }

        img {
            border-radius: $radius-l;
            width: 100%;
            height: auto;
        }

        .salon-info {
            flex: 1;

            .salon-address {
                @include h200;
                margin-top: $xl;
            }

            .salon-desc {
                @include p200;
                margin-top: $xs;
            }

            .salon-opening-hours {
                margin-top: $xl;
                padding: $m 0;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid $light-200;
                border-bottom: 1px solid $light-200;

                >div {
                    flex: 1;

                    .salon-hour-labels {
                        @include h200;
                    }

                    .salon-hour-values {
                        @include p200;
                        margin-top: $xxs;
                        color: $dark-200;
                    }
                }

                >div:first-child {
                    margin-right: 6px;
                }

                >div:last-child {
                    margin-left: 6px;
                }

            }

            .salon-buttons {
                margin-top: $xl;
                display: flex;

                a:first-child {
                    margin-right: 6px;
                }

                a:last-child {
                    margin-left: 6px;
                }

            }
        }


        @include desktop {
            flex-direction: row;
            align-items: center;

            .salon-info {
                margin-left: 64px;

                .salon-address {
                    margin-top: $m;
                }
            }
        }
    }
}