@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.product-card-widget {
    margin-top: $xl;

    img {
        width: 100%;
        height: auto;
    }
}