@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.service-card-big-widget {
    overflow: hidden;
    @include elevation-low();
    border-radius: $radius-l;

    .service-card-image {
        font-size: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .service-card-big-content {
        padding: $xl;
        border: 1px solid $light-200;
        border-bottom-left-radius: $radius-l;
        border-bottom-right-radius: $radius-l;
        border-top: 0;

        .service-card-icons {
            display: flex;
            flex-wrap: wrap;
            margin-top: $m;


            .service-card-icon {
                padding: $s 0;
                flex: 1 0 50%;
                display: flex;
                align-items: center;

                .icon {
                    width: $xxl;
                    height: $xxl;
                    margin-right: 6px;
                }
            }
        }

        hr {
            border: 0;
            border-top: 1px solid $light-200;
        }

        .service-duration {
            margin-top: $xxs;
            color: $dark-200;
            @include p200;
        }

        .procedure {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $m 0;

            .procedure-label {
                @include p200;
                color: $dark-200;
            }

            .full-price {
                color: $dark-200;
                text-decoration: line-through;
            }

            .price {
                @include h200;
            }
        }
    }
}