@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.service-card-big-widget {
    overflow: hidden;
    @include elevation-low();
    border-radius: $radius-l;

    .service-card-image {
        font-size: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .service-card-big-content {
        padding: $xl;
        border: 1px solid $light-200;
        border-bottom-left-radius: $radius-l;
        border-bottom-right-radius: $radius-l;
        border-top: 0;

        .service-card-title {
            @include h200;
        }

        .service-card-icons {
            display: flex;
            flex-wrap: wrap;
            margin-top: $m;


            .service-card-icon {
                padding: $s 0;
                flex: 1 0 50%;
                display: flex;
                align-items: center;

                .icon {
                    width: $xxl;
                    height: $xxl;
                    margin-right: 6px;
                }

                @include h200;
            }
        }

        .service-card-content {
            margin-top: $m;
        }

        hr {
            border: 0;
            border-top: 1px solid $light-200;
        }

        .service-info {
            margin-top: $xxs;
            color: $dark-200;
            @include p200;
            display: flex;
            align-items: center;

            .service-dot {
                width: 5px;
                height: 5px;
                border-radius: 5px;
                background-color: $dark-25;
                margin: 0 $xs;
            }
        }


        .service-card-procedures {
            margin-top: $m;

            .procedure {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: $m 0;

                .procedure-label {
                    @include p200;
                    color: $dark-200;
                }

                .full-price {
                    color: $dark-200;
                    text-decoration: line-through;
                }

                .price {
                    @include h200;
                }

            }
        }

        .book-button {
            box-sizing: border-box;
            width: 100%;
            margin-top: $m;
        }
    }

    @include desktop {
        box-shadow: none;
        border-radius: 0;

        .service-card-image {
            img {
                border-radius: $radius-l;
            }

        }

        .service-card-big-content {
            border: 0;
            padding: 0;
            margin-top: $xl;

            .service-card-title {
                @include h300;
            }

            .service-card-icons {
                .service-card-icon {
                    flex: 0;
                    margin-right: $xl3;
                }
            }

            .service-card-content {
                margin-top: $xl;
            }

            .service-card-procedures {
                margin-top: $xl;

                .procedure {
                    margin-top: $s;
                    border: 1px solid $light-200;
                    border-radius: $radius-l;
                    padding: $xl;

                    .procedure-price {
                        flex: auto;
                        text-align: right;
                        margin-right: $m;
                    }
                }
            }

            .book-button {
                width: initial;
                box-sizing: initial;
                margin-top: $xl;
            }
        }
    }
}