div.consultation-banner-widget {
    background-color: $deep-sea-500;
    color: $white-500;
    border-radius: $radius-s;
    display: block;
    padding: $xl;
    cursor: pointer;

    .columns {
        .column:first-child {
            h2 {
                max-width: 200px;
                @include h500;

                @include tablet {
                    @include h400;
                }

                @include desktop {
                    @include h400;
                }
            }

            p {
                margin-top: $xs;
            }
        }

        .column:last-child {
            .button {
                width: 100%;
                margin-top: $xl;
                box-sizing: border-box;
            }
        }
    }


    @media screen and (min-width: $tablet) {
        padding: $xl3;

        .columns {
            .column:first-child {
                h2 {
                    max-width: none;
                }

                p {
                    margin-top: $xxs;
                }
            }

            .column:last-child {
                text-align: right;

                .button {
                    margin-top: 0;
                    width: auto;
                }
            }
        }

    }
}

div.consultation-banner-widget:hover {
    background: linear-gradient(270.44deg, #219174 0%, $deep-sea-400 100%);
}