@import '../../../styles/util/mixins';
@import '../../../styles/util/sizes';

.service-info-widget {
    .tiw-card {
        img {
            border-radius: $radius-l;
            width: 100%;
            height: auto;
        }

        .tiw-title {
            @include h300;
            margin-top: $xl;
        }

        .tiw-desc {
            @include p200;
            margin-top: $xs;
        }

        a.button.is-hidden-desktop {
            margin-top: $xl;
        }

        a.button.is-hidden-touch {
            margin-top: $m;
        }
    }

    .tiw-category {
        h3 {
            @include h300;
            margin-top: $xl;
        }

        .tiw-service {
            padding: $xl;
            border: 1px solid $light-200;
            border-radius: $radius-l;
            @include elevation-low();
            margin-top: $m;

            .tiw-service-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .tiw-service-left {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: $m;
                    }

                    .tiw-service-name {
                        @include h200;
                    }

                    .tiw-service-price {
                        @include p200;
                        color: $dark-200;

                        .tiw-service-full-price {
                            text-decoration: line-through;
                        }
                    }
                }
            }

            .tiw-combo-items {
                margin-top: $xl;

                .tiw-combo-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: $m 0;
                    border-bottom: 1px solid $light-200;

                    .tiw-combo-item-label {
                        @include h200;
                    }

                    .tiw-combo-item-prices {
                        @include p200;

                        .tiw-combo-item-fullprice {
                            color: $dark-200;
                            text-decoration: line-through;
                        }
                    }
                }

                .tiw-combo-item:first-child {
                    border-top: 1px solid $light-200;
                }
            }

        }
    }


    @include desktop {
        display: flex;

        .tiw-card {
            width: 288px;

            img {
                width: 148px;
            }

            .tiw-desc {
                margin-top: $xxs;
            }
        }

        .tiw-services {
            flex: 1;
            margin-left: $xl * 2;

            hr {
                border: none;
                border-top: 1px solid $light-200;
                margin-top: $xl;
                margin-bottom: 0
            }

            .tiw-category {
                h3 {
                    @include h500;
                }

                .tiw-service {
                    border: none;
                    box-shadow: none;
                    padding: 0;

                    .tiw-combo-items {
                        border-radius: $radius-l;
                        overflow: hidden;
                        margin-top: $xxl;

                        .tiw-combo-item {
                            margin-bottom: 1px;
                            background-color: $light-50;
                            border: none;
                            padding: $m;
                        }
                    }
                }
            }

            .tiw-category:first-child {
                h3 {
                    margin-top: 0;
                }
            }
        }
    }
}