@import "../../../styles/util/colors";
@import "../../../styles/util/mixins";
@import "../../../styles/util/sizes";

div#floater {
    position: sticky;
    height: 0;
    top: $xl5 + $header-height-large;
    z-index: 1;


    div.container {
        text-align: right;
        height: 0;

        div#floating-picture {
            text-align: left;
            position: relative;
            display: inline-block;
            overflow: hidden;
            @include elevation-low();
            transform-origin: center left;
            transition: filter 0.5s ease;
            border-radius: $radius-l;

            flex-direction: column;
            justify-content: space-between;
            background-size: cover;

            div#overlay {
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 424px;
                height: 456px;
                padding: $xl $xxl $xxl $xxl;
                box-sizing: border-box;
                transition: opacity 0.5s ease, height 0.5s ease, background-color 0.5s ease;
                color: $white-500;

                .badges-widget {

                    .badges-touch {
                        display: flex !important;
                    }

                    .badges-desktop {
                        display: none;
                    }
                }

                h2.h500 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

        }
    }
}

div#floater.detached {
    top: $xl + 72px;

    div.container {
        div#floating-picture {
            filter: saturate(0.7);

            div#overlay {
                opacity: 1;
                height: 564px;
                background-color: rgba(43, 43, 43, 0.5);
                overflow-y: auto;

                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}

div#floater.attached-bottom {
    position: absolute;
    width: 100%;
}