RewriteEngine on

RewriteBase /resultat/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^details-([^/]+)/?$ details/$1.php [L,QSA]

RewriteBase /resultat/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ category/$1.php [L,QSA]