.faq-large {
    margin-top: $xl;
    display: flex;

    .faq-large-left {
        width: 312px;
        margin-right: $xl;

        .faq-category {
            display: flex;
            align-items: center;
            padding: 19px $m;
            background-color: $light-100;
            border-radius: $radius-s;
            margin-top: $xs;
            border: 1px solid $light-100;
            cursor: pointer;

            span {
                pointer-events: none;
            }

            .faq-category-label {
                @include p200;
                margin-left: $s;
            }
        }

        .faq-category:first-child {
            margin-top: 0;
        }

        .faq-category.selected {
            background-color: transparent;

            .faq-category-label {
                @include h200;
            }
        }
    }

    .faq-large-right {
        flex: 1;

        .faq-question {
            border-top: 1px solid $light-200;

            .faq-question-header {
                padding: $xl 0;
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    pointer-events: none;
                }

                .icon-expand {
                    transition: transform 0.2s ease-in-out;
                }
            }

            .faq-question-header.expanded {
                .icon-expand {
                    transform: rotate(-180deg);
                }
            }

            .faq-question-content {

                color: $dark-200;
                padding-bottom: $xl;
            }
        }

        .faq-question:last-child {
            border-bottom: 1px solid $light-200;
        }
    }
}

.faq-small {
    .faq-categories-small {
        margin-top: $xl;

        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;

        // Allow .container overflow
        margin-left: - $m;
        margin-right: - $m;
        padding-left: $m;
        padding-right: $m;

        .faq-category {
            color: $dark-200;
            flex: 1;
            white-space: nowrap;
            margin-right: $xl;
            padding-bottom: $xs;
            border-bottom: 3px solid transparent;
            cursor: pointer;
        }

        .faq-category.selected {
            font-weight: 600;
            color: $black-500;
            border-bottom-color: $deep-sea-400;
        }
    }

    .faq-categories-small::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .faq-questions-small {
        margin-top: $xl;

        .faq-question-category {
            .faq-question {
                margin-top: 2px;
                padding: $m;
                background-color: $light-50;

                .faq-question-header {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        pointer-events: none;
                    }

                    span.icon {
                        margin-left: $s;
                        transition: transform 0.2s ease-in-out;
                        transform-origin: 50% 50%;
                        flex: 0 0 $m;
                    }


                }

                .faq-question-header.expanded {
                    .icon-expand {
                        transform: rotate(-180deg);
                    }
                }

                .faq-question-content {
                    margin-top: $s;

                }
            }
        }


    }
}