@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';
@import '../../../styles/util/sizes';


.service-category-card {
    border: 1px solid $light-200;
    border-radius: $radius-l;
    overflow: hidden;
    margin-top: $xl;
    @include elevation-low();

    img {
        width: 100%;
        height: auto;
    }

    .service-category-card-content {
        padding: $xl;

        .service-links {
            display: flex;
            flex-wrap: wrap;

            .service-link {
                border-radius: $radius-s;
                display: inline-block;
                margin-top: $xs;
                margin-right: $xs;
                padding: $xs $s;

                white-space: nowrap;
                color: $black-500;
                background-color: $light-100;
                transition: color 300ms ease, background-color 300ms ease;
            }
        }

        hr {
            margin: $m 0;
            border: 0;
            border-top: 1px solid $light-200;
        }
    }
}

@media screen and (min-width: $tablet) {
    .service-category-card {
        box-shadow: none;
        margin-top: $xl3;
        transition: box-shadow 300ms ease;

        .service-category-card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include tablet {
                height: 363px;
            }

            @include desktop {
                height: 363px;
            }

            .service-content {
                flex: 1;
                overflow-y: auto;
            }

            hr {
                margin: $xl 0;
            }
        }
    }

    .service-category-card:hover {
        @include elevation-low();
    }
}