RewriteEngine on

RewriteBase /skin-guide/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ category/$1.php [L,QSA]

RewriteBase /skin-guide/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/([^/]+)?$ category/subcategory/subcategory.php?id=$2 [L,QSA]

RewriteBase /skin-guide/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/([^/]+)/([^/]+)?$ category/article/article.php?id=$3 [L,QSA]