.green-header-banner-widget {
    background-color: $deep-sea-400;
    color: $white-500;
    padding-bottom: 20px;

    #ghb-touch {
        h1 {
            font-size: 48px;
            margin-top: $m;
        }

        #ghb-touch-content {
            @include p200;
            margin-top: $m;
            margin-bottom: $xl;

            #banner-expanded {
                margin-top: $m;
            }
        }

        #ghb-touch-badges {
            margin-top: 20px;
        }
    }

    #ghb-desktop {
        #ghb-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $white-200;
        }

        #ghb-main {
            margin: $xl * 2 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #ghb-texts-col {
                flex: 1 0 704px;
                margin-right: 80px;

                p {
                    margin-top: $m;
                }

            }
        }
    }

    .ghb-consultation-card {
        @include elevation-medium;
        background-color: $white-500;
        padding: $xl;
        border-radius: $radius-l;
        color: $black-500;

        .ghb-consultation-card-content {
            display: flex;

            h3 {
                @include h200;
            }

            p {
                @include p200;
                margin-top: $xs;
            }

            .icon {
                min-width: $xl4;
            }
        }

        .button {
            margin-top: $m;
            width: 100%;
            box-sizing: border-box;
        }
    }
}