@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';
@import '../../../styles/util/sizes';

.consultation-category-widget {
    button {
        margin-top: $xl;
    }

    .button-collapse {
        display: none;
    }

    .cc-content {
        display: none;

        .cc-type-touch {
            @include elevation-low();
            margin-top: $xl;
            padding: $xl;
            border: 1px solid $light-200;
            border-radius: $radius-s;

            >div {
                display: flex;
                align-items: center;

                img {
                    margin-right: $m;
                }

                .p200 {
                    color: $dark-200;
                }
            }
        }
    }

    @include desktop {
        margin-top: $m;
        padding: $xl;
        border: 1px solid $light-200;
        border-radius: $radius-l;

        .cc-header {
            display: flex;
            align-items: center;

            .cc-header-texts {
                flex: auto;
                margin-right: $xl;
            }

            button {
                flex: 0 0 auto;
                width: auto;
            }
        }

        .cc-content {
            margin-top: $xl;

            .cc-type-desktop {
                padding: $xl 0;
                display: flex;
                align-items: center;
                border-top: 1px solid $light-200;

                >div {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: $m;
                        border-radius: $radius-s;
                    }

                    .p200 {
                        color: $dark-200;
                    }
                }
            }

            .cc-type-desktop:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.consultation-category-widget.expanded {
    .button-expand {
        display: none;
    }

    .button-collapse {
        display: block;
    }

    .cc-content {
        display: block;
    }
}