RewriteEngine on
RewriteBase /problems/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ problem.php?id=$1 [L,QSA]

RewriteBase /problems/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/types?$ types/index.php?id=$1 [L,QSA]

RewriteBase /problems/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/types/([^/]+)?$ types/type/type.php?id=$2 [L,QSA]

#RewriteBase /problems/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+)/treatments?$ treatments/index.php?id=$1 [L,QSA]

RewriteBase /problems/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/treatment?$ treatment/treatment.php?id=$2 [L,QSA]