@import "../styles/util/colors";
@import "../styles/util/mixins";
@import "../styles/util/sizes";


#green-header-small {
    background-color: $deep-sea-400;
    color: $white-500;
    padding-bottom: $m;
}