@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';

html {
    scroll-behavior: smooth;
}

section#banner {
    #banner-green {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-bottom: $xl;
        @include p100;

        .underline {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    #banner-problem-area-filters {
        // allow container overflow
        margin-left: -$m;
        margin-right: -$m;
        padding-left: $m;
        padding-right: $m;
        margin-top: $xl;


        // Make room for shadow
        padding-bottom: $m;

        .banner-problem-area {
            background-color: $white-500;
            @include elevation-medium();
            height: 96px;
            box-sizing: border-box;
            flex: 1 0 88px;
            border-top: 1px solid $light-200;
            border-bottom: 1px solid $light-200;
            border-left: 1px solid $light-200;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;

            img {
                transition: transform 200ms ease;
            }

            div {
                text-transform: capitalize;
                margin-top: $xs;
            }
        }

        .banner-problem-area.highlight {
            img {
                transform: scale(1.5, 1.5);
            }

            div {
                text-decoration: underline;
            }
        }

        .banner-problem-area:first-child {
            border-top-left-radius: $radius-l;
            border-bottom-left-radius: $radius-l;
        }

        .banner-problem-area:last-child {
            border-right: 1px solid $light-200;
            border-top-right-radius: $radius-l;
            border-bottom-right-radius: $radius-l;
        }
    }

    #banner-problem-areas {
        margin-top: $xxs;

        .button {
            margin-top: $xxs;
        }
    }


    @media screen and (min-width: $desktop) {
        #banner-green {
            padding-bottom: $m;

            #banner-green-desktop {
                padding-bottom: $xl5;

                #skin-problems-header-column {
                    flex: 1 0 425px;
                }
            }
        }

        #banner-problem-area-filters {
            margin-top: -2*$xl;
            padding-bottom: $xl3 - $xs;
        }

        #banner-problem-areas {
            margin-top: $xs;

            .button {
                margin-top: $xs;
            }

            .column.first {
                .button {
                    border-top-left-radius: $radius-l;
                }
            }

            .column.last {
                .button {
                    border-bottom-right-radius: $radius-l;
                }
            }
        }

    }
}

section#cards {
    .problem-area-card {
        border: 1px solid $light-200;
        border-radius: $radius-l;
        overflow: hidden;
        margin-top: $xl;
        @include elevation-low();

        img {
            width: 100%;
            height: auto;
        }

        .problem-area-card-content {
            padding: $xl;

            hr {
                margin: $m 0;
                border: 0;
                border-top: 1px solid $light-200;
            }
        }
    }

    @media screen and (min-width: $tablet) {
        margin-top: $m;

        .problem-area-card {
            box-shadow: none;

            .problem-area-card-content {
                hr {
                    @media screen and (min-width: $tablet) {
                        margin: $xl 0;
                    }
                }
            }
        }
    }
}

section#consultation-banner {
    margin-top: $xl;

    @media screen and (min-width: $tablet) {
        margin-top: $xl5 + $xl;
    }
}

section#results {
    margin-top: 72px;

    .carousel {
        padding-bottom: $xl;
    }

    .result-widget {
        margin-top: $l;
    }

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}

section#reviews {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}


section#faq {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}

section#skin-guide {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}

section#specialists {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}

section#brands {
    margin-top: 72px;

    @media screen and (min-width: $tablet) {
        margin-top: 104px;
    }
}