@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';
@import '../../../styles/util/sizes';

$image_size_s: 102px;
$image_size_l: 204px;

.type-card-widget {
    position: relative;
    margin-top: $m;
    padding: $xl;
    border: 1px solid $light-200;
    border-radius: $radius-l;

    div.image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $image_size_s;
        height: $image_size_s;
        flex: 0 0 $image_size_s;

        img {
            width: auto;
            height: auto;
            max-height: $image_size_s;
            max-width: $image_size_s;
            border-radius: $radius-s;
        }

        @include desktop {
            width: $image_size_l;
            height: $image_size_l;
            flex: 0 0 $image_size_l;

            img {
                max-height: $image_size_l;
                max-width: $image_size_l;
            }
        }
    }

    div.image.is-icon {
        max-width: 64px;
        max-height: 64px;
    }

    div.image:not(.is-icon):after {
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .p200 {
        color: $dark-200;
    }

    .icon {
        position: absolute;
        top: $s;
        right: $xxs;
    }
}

a.type-card-widget {
    @include elevation-low();
}