@import '../../../styles/util/colors';
@import '../../../styles/util/mixins';
@import '../../../styles/util/sizes';

.type-card-widget {
    position: relative;
    margin-top: $m;
    padding: $xl;
    border: 1px solid $light-200;
    border-radius: $radius-l;
    @include elevation-low();

    div.image {
        position: relative;

        img {
            width: 100%;
            height: auto;
            border-radius: $radius-s;
        }
    }

    div.image:after {
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .p200 {
        color: $dark-200;
    }

    .icon {
        position: absolute;
        top: $s;
        right: $xxs;
    }
}