@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.treatment-areas-widget {
    div.image {
        position: relative;
        font-size: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    div.image:after {
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }


    .treatment-area-small {
        margin-top: $xl3;

        .image {
            img {
                border-radius: $radius-l;
            }
        }

        .area-item-card {
            margin-top: $m;
            display: flex;
            padding: $xl;
            border: 1px solid $light-200;
            border-radius: $radius-l;
            @include elevation-low;

            .image {
                width: 102px;
                border-radius: $radius-s;
                overflow: hidden;

                img {
                    border-radius: $radius-s;
                }
            }

            .area-item-info {
                align-self: center;
                margin-left: $m;
                flex: 1;

                .price-duration {
                    margin-top: $xxs;
                    display: flex;
                    align-items: center;

                    div {
                        color: $dark-200;
                        @include p200;
                    }

                    .dot {
                        background-color: $dark-25;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                    }
                }
            }

            .icon {
                width: $xl;
                height: $xl;
            }

        }
    }

    .treatment-area-large {}
}