.breadcrumbs-widget {
    display: flex;
    align-items: center;

    padding: 9.5px 0;

    .segment {
        white-space: nowrap;
        color: $white-800;
        margin-right: 6px;
        cursor: pointer;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    .segment:hover {
        color: $white-500;
    }

    .separator {
        width: $xxs;
        height: $xxs;
        border-radius: $xxs;
        background-color: $white-800;
        margin-right: 6px;
        opacity: 0.8;
    }

    @include desktop {
        padding: $m 0;
    }
}