@import '../../../styles/util/colors';
@import '../../../styles/util/sizes';
@import '../../../styles/util/mixins';

.breadcrumbs-widget {
    padding: $m 0;
    display: flex;
    align-items: center;

    .segment {
        white-space: nowrap;
        color: $white-800;
        margin-right: 6px;
        cursor: pointer;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    .segment:hover {
        color: $white-500;
    }

    .separator {
        width: $xxs;
        height: $xxs;
        border-radius: $xxs;
        background-color: $white-800;
        margin-right: 6px;
        opacity: 0.8;

    }
}