@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';
@import 'widgets/step/step';

html {
    body {
        #content {
            margin: 0 auto;
            max-width: 872px;

            section#video {
                margin-top: $xl;

                iframe {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16/9;
                }
            }

            section#title {
                margin-top: $xl;

                h1 {
                    @include h600;
                }

                p {
                    @include p200;
                    margin-top: $xs;
                }

                .button {
                    margin-top: $xl;
                }

                @include desktop {
                    margin-top: $xl4;


                    p {
                        margin-top: $s;
                    }

                    .button {
                        width: auto;
                    }
                }
            }

            section#image {
                margin-top: $xl;
                font-size: 0;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: $radius-l;
                }

                @include desktop {
                    margin-top: $xl3;
                }
            }

            section#bullets {
                margin-top: 72px;

                .bullet {
                    margin-top: $xl3;
                    padding-right: $xl;

                    .bullet-label {
                        display: flex;
                        align-items: center;

                        .icon {
                            margin-right: $s;

                            >svg {
                                * {
                                    stroke: $deep-sea-400;
                                    fill: transparent;
                                }
                            }
                        }

                        span {
                            @include h200;
                        }
                    }

                    .bullet-content {
                        @include p200;
                        margin-top: $xxs;
                    }
                }

                @include desktop {
                    margin-top: 103px;

                    .bullet {
                        margin-top: 0;
                    }
                }

                .bullet::first-child {
                    margin-top: 0;
                }
            }
        }

        section#cta {
            background-color: $deep-sea-400;
            padding: $xl;
            border-radius: $radius-l;
            color: $white-500;

            #cta-banner-header {
                @include h500;
            }

            #cta-banner-content {
                margin-top: $xs;
            }

            a.button {
                margin-top: $xl;
            }

            @media screen and (min-width: $tablet) {
                padding: $xxl $xl3;
                display: flex;
                align-items: center;
                justify-content: space-between;

                #cta-banner-texts {
                    flex: auto;

                    #cta-banner-header {
                        @include h500;
                    }
                }

                a.button {
                    margin-top: 0;
                    flex: 1;
                }
            }
        }
    }
}