@import "widgets/problem-trivia-card/problem-trivia-card";
@import "widgets/symptom-card/symptom-card";
@import "widgets/related-problem-card/related-problem-card";
@import "widgets/type-card/type-card";
@import "widgets/type-card/type-card-large";
@import "../includes/widgets/results/results_narrow";
@import "../includes/widgets/results_grid/results_grid";


html {
    scroll-behavior: smooth;


    .lowercase {
        text-transform: lowercase;
    }
}

.aka:not(:last-child)::after {
    content: ",";
}

.aka:last-child::after {
    content: ".";
}


.container {
    #content {
        section#image {
            margin-top: $xl;
            font-size: 0;

            img {
                width: 100%;
                height: auto;
                border-radius: $radius-l;
            }
        }

        section#about {
            margin-top: $xl3 + $xs;

            .h500 {
                margin-bottom: - $xs;
            }

            hr {
                margin-top: $xxl;
                margin-bottom: $xxl;
                border: none;
                border-top: 1px solid $light-200;
            }

            @media screen and (min-width: $tablet) {
                margin-top: $xl5 + $xs;
            }
        }

        section#approach {
            margin-top: 72px;

            h2 {
                span {
                    display: block;
                }
            }

            hr {
                border: none;
                border-top: 1px solid $light-200;
            }

            @media screen and (min-width: $tablet) {
                margin-top: $xl5 + $xs;

                h2 {
                    span {
                        display: initial;
                    }
                }
            }
        }

        section#types {
            .type-category-content {
                color: $dark-400;
            }

            #type-category-buttons {
                display: flex;
                flex-wrap: wrap;

                a.button {
                    margin-top: $xs;
                    margin-right: $xs;
                    background-color: $deep-sea-25;
                    border: 1px solid $deep-sea-25;
                    color: $deep-sea-400;
                }
            }

            div.type-category {
                border-top: 1px solid $light-200;
                padding: $xl3 0;
                scroll-margin-top: 120px;

                div.type-category-cards {
                    padding-top: $xs;
                }
            }

            div.type-category:last-child {
                border-bottom: 1px solid $light-200;
            }

            div.type-category-large {
                margin-top: 48px;
            }

            div.type-category-large:first-child {
                margin-top: $xxl;
            }
        }

        section#factor-icons {
            h2 {
                margin-bottom: $xl;
            }

            .factor {
                padding: $xl;
                display: flex;
                align-items: center;
                border: 1px solid $light-200;
                border-radius: $radius-s;
                margin-top: $m;

                .icon {
                    margin-right: $m;
                }

                .factor-label {
                    @include h200;
                }
            }
        }

        section#symptoms {
            #symptom-buttons {
                display: flex;
                flex-wrap: wrap;

                a.button {
                    margin-top: $xs;
                    margin-right: $xs;
                    background-color: $deep-sea-25;
                    border: 1px solid $deep-sea-25;
                    color: $deep-sea-400;
                }
            }

            .symptom-card-wrapper {
                scroll-margin-top: 150px;
            }
        }

        section#products,
        section#treatment-solutions {
            hr {
                border: none;
                border-top: 1px solid $light-200;
            }
        }

        section#define {

            @media screen and (min-width: $tablet) {

                h2 {
                    margin-bottom: $xl;
                }

                hr {
                    border: none;
                    border-top: 1px solid $light-200;
                    margin: 0;
                }
            }
        }

        section#treatments {

            @media screen and (min-width: $tablet) {

                h2 {
                    margin-bottom: $xl;
                }

                hr {
                    border: none;
                    border-top: 1px solid $light-200;
                    margin: 0;
                }
            }
        }

        section#results {

            .result-widget {
                margin-top: $l;
            }

            a.button.outline {
                width: 100%;
                box-sizing: border-box;
            }

            @media screen and (min-width: $tablet) {
                a.button.outline {
                    width: auto;
                    box-sizing: initial;
                }
            }
        }



        section#related-problems {
            .related-problem-card-widget {
                margin-top: $m;
            }

            @media screen and (min-width: $tablet) {
                .related-problem-card-widget {
                    margin-top: $xl;
                }
            }
        }

        section#define,
        section#treatments,
        section#types,
        section#factor-icons,
        section#symptoms,
        section#articles,
        section#products,
        section#treatment-solutions,
        section#results,
        section#reviews,
        section#faq,
        section#skin-guide,
        section#specialists,
        section#related-problems {
            margin-top: 72px;

            @media screen and (min-width: $tablet) {
                margin-top: $xl5 + $xs;
            }
        }
    }

    section#brands {
        position: relative;
        margin-top: 72px;
        z-index: 2;
        background-color: $white-500;

        @media screen and (min-width: $tablet) {
            margin-top: $xl5 + $xs;
        }
    }
}

@media screen and (min-width: $widescreen) {
    .container {
        #content {
            max-width: 750px;
        }
    }
}

// Ensures floater is never above content
@media screen and (min-width: 1408px) {
    .container {
        #content {
            max-width: 872px;
        }
    }
}