@import "widgets/product-card/product-card";
@import "../includes/widgets/results_grid/results_grid";

html {
    scroll-behavior: smooth;

    .underline {
        text-decoration: underline;
    }

    .lowercase {
        text-transform: lowercase;
    }
}

section#header {
    #green-header-small {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-bottom: $xl;
    }

    #green-header-large {
        background-color: $deep-sea-400;
        color: $white-500;

        #green-header-large-text {
            width: 648px;
            padding-bottom: 62px;

            #book-buttons {
                .button {
                    margin-right: $s;
                }
            }
        }
    }
}

.container {

    section#image {
        img {
            width: 100%;
            height: auto;
        }
    }

    section#about {
        margin-top: 48px;
    }

    section#define {
        .button {
            width: 100%;
            box-sizing: border-box;
        }

    }

    section#treat {
        .service-card-big-widget {
            margin-top: $xl;
        }

        #service-buttons {
            button:not(:last-child) {
                margin-right: $xs;
            }
        }
    }

    section#repair {
        img {
            width: 100%;
            height: auto;
        }
    }

    section#results {
        .result-widget {
            margin-top: $l;
        }

        a.button.outline {
            width: 100%;
            box-sizing: border-box;
        }

        @media screen and (min-width: $tablet) {
            a.button.outline {
                width: auto;
                box-sizing: initial;
            }
        }
    }

    section#brands {
        position: relative;
        z-index: 2;
        background-color: $white-500;
    }

    section#define,
    section#treat,
    section#prevent,
    section#repair,
    section#results,
    section#reviews,
    section#faq,
    section#skin-guide,
    section#specialists,
    section#brands {
        margin-top: 72px;
    }

    @media screen and (min-width: $tablet) {
        section#define {
            .button {
                width: auto;
                box-sizing: initial;
            }
        }

        section#treat {
            .service-card-big-widget {
                margin-top: $xl4;
            }
        }

        section#about,
        section#define,
        section#treat,
        section#prevent,
        section#repair,
        section#results,
        section#reviews,
        section#faq,
        section#skin-guide,
        section#specialists,
        section#brands {
            margin-top: 88px;
        }
    }

    img.step-image {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: $widescreen) {
    .container {
        #content {
            max-width: 750px;
        }
    }
}

// Ensures floater is never above content
@media screen and (min-width: 1408px) {
    .container {
        #content {
            max-width: 872px;
        }
    }
}