@import "widgets/my-type-card/type-card";

html {
    scroll-behavior: smooth;

    .underline {
        text-decoration: underline;
    }

    .lowercase {
        text-transform: lowercase;
    }
}

section#header {
    #green-header-small {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-bottom: $xl;
    }

    #green-header-large {
        background-color: $deep-sea-400;
        color: $white-500;

        #green-header-large-text {
            width: 648px;
            padding-bottom: 62px;

            #book-buttons {
                .button {
                    margin-right: $s;
                }
            }
        }
    }
}


.container {
    section#image {
        font-size: 0;

        img {
            border-radius: $radius-l;
            width: 100%;
            height: auto;
        }
    }

    section#about {
        margin-top: $xl3 + $xs;

        .h500 {
            margin-bottom: - $xs;
        }

        hr {
            margin-top: $xxl;
            margin-bottom: $xxl;
            border: none;
            border-top: 1px solid $light-200;
        }

        @media screen and (min-width: $tablet) {
            margin-top: $xl5 + $xs;
        }
    }

    section#approach {
        h2 {
            span {
                display: block;
            }
        }

        hr {
            border: none;
            border-top: 1px solid $light-200;
        }

        /// Hack approach card widget
        div.approach-card {
            div.p200 {
                padding-right: 1em;
            }
        }

        @media screen and (min-width: $tablet) {

            h2 {
                span {
                    display: initial;
                }
            }
        }
    }

    section#results {

        .result-widget {
            margin-top: $l;
        }
    }

    section#brands {
        position: relative;
        z-index: 2;
        background-color: $white-500;
    }

    section.based,
    section#approach,
    section#results,
    section#reviews,
    section#faq,
    section#skin-guide,
    section#specialists,
    section#brands {
        margin-top: 72px;

        @media screen and (min-width: $tablet) {
            margin-top: $xl5 + $xs;
        }
    }
}

@media screen and (min-width: $widescreen) {
    .container {
        #content {
            max-width: 750px;
        }
    }
}

// Ensures floater is never above content
@media screen and (min-width: 1408px) {
    .container {
        #content {
            max-width: 872px;
        }
    }
}