@import '../styles/util/sizes';
@import '../styles/util/typography';

#narrow-content {
    max-width: 872px;

    section#hero {
        margin-top: $xl;

        h1 {
            @include h600;
        }

        #hero-content {
            @include p200;
            margin-top: $xs;
        }

        a.button {
            margin-top: $xl;
        }

        img {
            width: 100%;
            margin-top: $xl;
            border-radius: $radius-s;
        }
    }

    section#collaboration-types {
        margin-top: $xl3;

        h2 {
            @include h500;
        }

        .colab-option {
            margin-top: $xxl;


            h3 {
                @include h200;
                margin-top: $xs;
            }

            .colab-content {
                margin-top: $xs;
            }
        }

        a.button {
            margin-top: $xl;
        }
    }

    section#concept {}

    section#banner {}

    section#perks {}
}

@include desktop {
    #narrow-content {
        section#hero {
            margin-top: $xl4;

            h1 {
                @include h700;
            }


            a.button {
                margin-top: $xl;
                width: initial;
            }

            img {
                margin-top: $xl3;
                border-radius: $radius-l;
            }
        }

        section#collaboration-types {
            margin-top: 104px;

            #colab-options {
                // 2x2 grid
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: $xl3;
            }

            a.button {
                margin-top: $xl3;
                width: initial;
            }

        }

        section#concept {}

        section#banner {}

        section#perks {}
    }
}