@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';

html {
    scroll-behavior: smooth;
}

div#content {
    margin: 0 auto;
    max-width: 872px;

    section#title {
        margin-top: $xl;

        h1 {
            @include h600;
        }

        p {
            @include p200;
            margin-top: $xs;
        }

        .button {
            margin-top: $xl;
        }

        @include desktop {
            margin-top: $xl4;


            p {
                margin-top: $s;
            }

            .button {
                width: auto;
            }
        }
    }

    section#image {
        margin-top: $xl;
        font-size: 0;

        img {
            width: 100%;
            height: auto;
            border-radius: $radius-l;
        }

        @include desktop {
            margin-top: $xl3;
        }
    }

    section#steps {
        .gc-number {
            background-color: $deep-sea-400;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            color: $white-500;
            font-size: $l;
            font-weight: 600;
            text-align: center;
            line-height: 52px;
        }

        #screenshot-label {
            margin-bottom: 0;
        }

        .is-hidden-desktop {
            #step-2-small {
                scroll-margin-top: 90px;
            }

            .gift-card-step {
                margin-top: $xl;
                padding: $xl;
                border: 1px solid $light-200;
                border-radius: $radius-l;
                @include elevation-low;

                h2 {
                    @include h300;
                    margin-left: $s;
                }

                div.gc-text {
                    @include p200;
                    margin-top: $m;
                }

                hr {
                    border: 0;
                    border-top: 1px solid $light-200;
                    margin: $xl 0;
                }


            }

        }

        .is-hidden-touch {
            #step-2-large {
                scroll-margin-top: 120px;
            }

            .gift-card-step {
                margin-top: $xl;
                padding: $xl;
                border: 1px solid $light-200;
                border-radius: $radius-l;

                .gc-number {
                    margin-right: $m;
                }

                .gc-texts {
                    margin-right: $m;
                    flex: 1;

                    h2 {
                        @include h300;
                    }

                    div {
                        @include p200;
                        margin-top: $xxs;
                    }
                }

                #qr-image {
                    text-align: center;
                    width: 130px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                hr {
                    border: 0;
                    border-top: 1px solid $light-200;
                    margin: $xl 0;
                }

                form {
                    .select-wrapper {
                        width: 50%;
                        min-width: 200px;
                    }

                    hr {
                        margin: $xl 0;
                        border: 0;
                        border-top: 1px solid $light-200;
                    }

                    #upload-area {
                        margin-top: $s;
                        border: 1px dashed $light-500;
                        border-radius: $radius-s;
                        padding: $m;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        div:first-child {
                            @include p200;
                            flex: auto;
                        }

                        div:last-child {

                            input[type=file] {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .confirmation-banner {
            background-color: $deep-sea-400;
            padding: $xl;
            color: $white-500;
            border-radius: $radius-l;
        }
    }

    section#flyers {
        .gift-card-flyer {
            margin-top: 72px;

            img {
                border-radius: $radius-l;
                margin-top: $xl;
                width: 100%;
                height: auto;
            }

            .gcf-text {
                @include p200;
                margin-top: $xl;
            }

            button {
                margin-top: $xl;
            }
        }
    }


    @include desktop {
        .gift-card-flyer {
            display: flex;
            align-items: center;

            picture {
                flex: 1;

                img {
                    margin-top: 0;
                }
            }

            >div {
                flex: 1;
                padding-left: $xxl*2;

                .gcf-header {
                    @include h500;
                }

                .gcf-text {
                    margin-top: $m;
                }

                button {
                    width: auto;
                }
            }
        }

        .gift-card-flyer:nth-child(even) {
            flex-direction: row-reverse;

            >div {
                padding-left: 0;
                padding-right: $xxl*2;
            }
        }
    }
}

section#cta {
    background-color: $deep-sea-400;
    padding: $xl;
    border-radius: $radius-l;
    color: $white-500;

    #cta-banner-header {
        @include h500;
    }

    #cta-banner-content {
        margin-top: $xs;
    }

    a.button {
        margin-top: $xl;
    }

    @media screen and (min-width: $tablet) {
        padding: $xxl $xl3;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #cta-banner-texts {
            flex: auto;

            #cta-banner-header {
                @include h500;
            }
        }

        a.button {
            margin-top: 0;
            flex: 1;
        }
    }
}


#terms-modal-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #terms-modal {
        position: relative;
        background-color: white;
        @include elevation-medium();
        max-width: 600px;
        padding: $xl;
        margin: $m;

        border-radius: $radius-l;

        h2 {
            @include h300;
            margin-bottom: $m;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                padding: $xxs 0;
            }
        }

        p {
            margin: $s 0;
        }

        .button.round-small {
            position: absolute;
            top: $s;
            right: $s;
        }
    }
}