@import '../../styles/util/colors';
@import '../../styles/util/sizes';
@import '../../styles/util/mixins';

section#banner {
    #banner-green {
        background-color: $deep-sea-400;
        color: $white-500;
        padding-bottom: $xl;
        @include p100;
    }


    @media screen and (min-width: $desktop) {
        #banner-green {
            padding-top: 0;
            padding-bottom: $m;

            #banner-green-desktop {
                padding-bottom: $xl5;
            }
        }
    }
}