.service-card-widget {
    margin-top: $xl;
    padding: $xl;
    border-radius: $radius-l;
    border: 1px solid $light-200;
    @include elevation-low();

    div.image {
        position: relative;
        font-size: 0;

        img {
            width: 102px;
            height: auto;
            border-radius: $radius-s;
            overflow: hidden;
        }
    }

    div.image:after {
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .service-info {
        display: flex;
        align-items: center;
        color: $dark-200;

        .service-dot {
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: $dark-25;
            margin: 0 $xs;
        }
    }

    hr {
        margin-top: $xl;
        margin-bottom: 0;
        border: 0;
        border-top: 1px solid $light-200;
    }

    @media screen and (min-width: $tablet) {
        margin-top: 0;
        padding: $xxl 0;
        border-radius: 0;
        border: none;
        box-shadow: none;

        div.image {
            img {
                width: 200px;
                height: auto;
            }
        }

        .middle {
            flex: 5;

            .service-content {
                max-width: 412px;
            }
        }

        .buttons {
            flex: 2;

            a.button {
                white-space: normal;
                text-align: center;
            }
        }
    }

}