// Primary
$black-500: #000000;
$white-500: #ffffff;

$deep-sea-500: #28806a;
$deep-sea-400: #1b8066;
$deep-sea-300: #2EA284;

// Light neutrals
$light-500: #d8d8d8;
$light-400: #dcdcdc;
$light-300: #e0e0e0;
$light-200: #e5e5e5;
$light-100: #eaeaea;
$light-50: #efefef;
$light-25: #f5f5f5;

// Dark neutrals
$dark-500: #131313;
$dark-400: #1f1f1f;
$dark-300: #2b2b2b;
$dark-200: #363636;
$dark-100: #424242;
$dark-50: #4e4e4e;
$dark-25: #5a5a5a;

// Extended
$red-500: #8f3c32;
$red-400: #de412f;
$red-300: #ff6a58;
$red-200: #ff8a7d;
$red-100: #ffaba1;
$red-50: #ffccc6;
$red-25: #ffecea;

$green-500: #077333;
$green-400: #1a9c4f;
$green-300: #35c46f;
$green-200: #58ed95;
$green-100: #7bffb1;
$green-50: #b5ffd3;
$green-25: #effff5;

$orange-500: #d68d00;
$orange-400: #ffa800;
$orange-300: #ffb82e;
$orange-200: #ffc75c;
$orange-100: #ffd789;
$orange-50: #ffe6b7;
$orange-25: #fff6e5;