$t: 8px;
$animation-duration: 300ms;

header {
    #hamburger {
        position: relative;
        width: $xl;

        .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: $xl;
            cursor: pointer;

            span {
                display: block;
                width: 100%;
                border-radius: 2px;
                height: 2px;
                background: #000;
                transition: all .3s;
                position: relative;
            }

            span+span {
                margin-top: 6px;
            }

        }

        .active span:nth-child(1) {
            animation: ease $animation-duration top forwards;
        }

        .not-active span:nth-child(1) {
            animation: ease $animation-duration top-2 forwards;
        }

        .active span:nth-child(2) {
            animation: ease $animation-duration scaled forwards;
        }

        .not-active span:nth-child(2) {
            animation: ease $animation-duration scaled-2 forwards;
        }

        .active span:nth-child(3) {
            animation: ease $animation-duration bottom forwards;
        }

        .not-active span:nth-child(3) {
            animation: ease $animation-duration bottom-2 forwards;
        }
    }

    @keyframes top {
        0% {
            top: 0;
            transform: rotate(0);
        }

        50% {
            top: $t;
            transform: rotate(0);
        }

        100% {
            top: $t;
            transform: rotate(45deg);
        }
    }

    @keyframes top-2 {
        0% {
            top: $t;
            transform: rotate(45deg);
        }

        50% {
            top: $t;
            transform: rotate(0deg);
        }

        100% {
            top: 0;
            transform: rotate(0deg);
        }
    }

    @keyframes bottom {
        0% {
            bottom: 0;
            transform: rotate(0);
        }

        50% {
            bottom: $t;
            transform: rotate(0);
        }

        100% {
            bottom: $t;
            transform: rotate(135deg);
        }
    }

    @keyframes bottom-2 {
        0% {
            bottom: $t;
            transform: rotate(135deg);
        }

        50% {
            bottom: $t;
            transform: rotate(0);
        }

        100% {
            bottom: 0;
            transform: rotate(0);
        }
    }

    @keyframes scaled {
        50% {
            transform: scale(0);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes scaled-2 {
        0% {
            transform: scale(0);
        }

        50% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
}