/// IMPORTANT: 
/// Don't edit this file unless you know what you are doing!

@import "util/sizes";
@import "util/colors";
@import "util/mixins";

html {
    body {
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        min-height: 100%;

        header,
        footer {
            flex: 0;
        }

        header {
            position: sticky;
            background-color: $white-500;
            top: 0;
            z-index: 99;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            #header-small {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: $xl4;
            }


            #header-large {
                align-items: center;
                justify-content: space-between;
                height: 72px;
                display: flex;

                div#left {
                    display: flex;
                    align-items: center;


                    a#logo {
                        img {
                            padding: $s $m;
                        }
                    }

                    nav {
                        margin-left: $xs;

                        ul {
                            padding: 0;
                            margin: 0;

                            li {
                                cursor: pointer;
                                display: inline-block;
                                padding: 26px $m;
                                list-style-type: none;

                            }
                        }
                    }
                }

                div#actions {
                    display: flex;
                    align-items: center;

                    .button {
                        padding: 14px $m;
                        margin-right: $xxl;
                    }

                    .icon {
                        margin-right: $xxs;
                        cursor: pointer;
                        padding: $m;
                    }

                }
            }
        }

        main {
            flex: auto;
        }

        footer {
            position: relative;
            z-index: 2;
            background-color: $white-500;

            div.dot {
                width: $xs;
                height: $xs;
                border-radius: $xs;
                background-color: $light-500;
            }

            #footer-small {
                margin-top: $xl5;

                #footer-consultation-banner {
                    color: $white-500;
                    background-color: $deep-sea-400;
                    padding: $xl3 0;


                    a.button {
                        margin-top: $xl;
                    }
                }

                #footer-brands {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid $light-200;
                    padding: $xl 0;
                }

                #footer-contact {
                    margin-top: $xl3;

                    div#phone-dot-email {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        .dot {
                            margin: 0 $xs;
                        }

                    }

                    div#buttons {
                        margin-top: $s;
                        display: flex;

                        button {
                            flex: 1;
                        }

                        button:first-child {
                            margin-right: calc($s / 2);
                        }

                        button:last-child {
                            margin-left: calc($s /2);
                        }
                    }
                }

                #footer-salon-cards {
                    margin-top: $xl;

                    .salon-card {
                        padding: $xl;
                        margin-top: $s;
                        border-radius: $radius-l;
                        border: 1px solid $light-200;
                        @include elevation-low();

                        img {
                            border-radius: $radius-s;
                            margin-right: $m;
                        }

                        .button {
                            margin-top: $m;
                        }
                    }
                }

                #footer-links {
                    .columns {
                        margin-top: $xl3;

                        ul {
                            margin: 0;
                            padding: 0;

                            li {
                                margin-top: $m;
                                list-style-type: none;

                                a {
                                    @include p200;
                                }
                            }
                        }
                    }
                }

                #footer-bottom {
                    margin-top: $xl3;
                    border-top: 1px solid $light-300;
                    padding: $xl 0 $m 0;

                    .copy-n-cookies {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;


                        #language-selector {
                            display: flex;

                            .icon {
                                margin-right: $xxs;

                                svg {
                                    * {
                                        stroke: $deep-sea-400;
                                    }
                                }
                            }
                        }
                    }

                    #footer-consultation-button-container {
                        background-color: $white-500;
                        box-sizing: border-box;

                        #consultation-button {
                            margin-top: $xl3;
                        }

                        #legends {
                            margin-top: $s;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @include p100;
                        }
                    }

                    #footer-consultation-button-container.fixed {
                        position: fixed;
                        left: 0;
                        bottom: 0;
                        padding: $s $m $m $m;
                        width: 100%;

                        #consultation-button {
                            margin-top: 0;
                        }
                    }

                }
            }

            #footer-large {
                background-color: $white-500;
                margin-top: 104px;
                position: relative;
                z-index: 2;

                .footer-large-banner {
                    display: block;
                    color: $white-500;
                    background: linear-gradient(270.44deg, $deep-sea-400 0%, $deep-sea-400 100%);
                    padding: $xl3;
                    border-radius: $radius-l;
                    cursor: pointer;

                    .icon {
                        width: $xl3;
                        height: $xl3;
                    }

                    .icon>svg {
                        stroke: $white-500;
                        fill: $white-500;
                    }

                    .aligner {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: space-between;
                    }

                    h2 {
                        font-size: 40px;
                        line-height: 50px;
                        letter-spacing: -0.02em;
                        font-weight: 400;
                        font-family: "DM Serif Text";
                    }

                    p {
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: -0.03em;
                        font-weight: 400;
                        font-family: "Inter";
                    }
                }

                .footer-large-banner:hover {
                    background: linear-gradient(270.44deg, #219174 0%, $deep-sea-400 100%);
                }

                #footer-large-brands {
                    margin-top: 72px;
                    border-top: 1px solid $light-200;
                    border-bottom: 1px solid $light-200;
                    padding: $xxl 0;

                    span.h200 {
                        margin-right: $xs;
                    }

                    a {
                        line-height: 0;
                        margin-left: $xs;
                    }
                }

                #footer-large-links {
                    margin-top: 72px;

                    #phone-dot-email-large {
                        $margin-top: $xxs;

                        .dot {
                            margin: 0 $s;
                        }
                    }

                    #footer-salon-cards-large {
                        margin-top: $xxl;

                        .salon-card {
                            margin-top: $xl;

                            img {
                                margin-right: $s;
                            }
                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;

                        li {
                            margin-top: $m;
                            list-style-type: none;

                            a {
                                @include p200;
                            }
                        }
                    }
                }

                #footer-large-bottom {
                    margin-top: 72px;
                    border-top: 1px solid $light-300;
                    padding: $xl 0 $xl4 0;


                    #language-selector {
                        display: flex;
                        margin-left: $l;
                        align-items: center;

                        .icon {
                            margin-right: $xxs;

                            svg {
                                * {
                                    stroke: $deep-sea-400;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}