/// IMPORTANT: 
/// Don't edit this file unless you know what you are doing!

@import "util/sizes";
@import "util/colors";
@import "util/mixins";
@import "hamburger";

$mobile-nav-width: 350px;
$large-header-height: 72px;
$important-notice-height: 38px;

html {
    body {
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        min-height: 100%;

        header,
        footer {
            flex: 0;
        }

        header {
            position: sticky;
            background-color: $white-500;
            top: - $important-notice-height;
            z-index: 99;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            #important-notice {
                height: $important-notice-height;
                padding: $xs 0;
                box-sizing: border-box;
                text-align: center;
                background-color: $white-500;
                color: $black-500;
                border-bottom: 1px solid $light-100;

                .important-notice-slide {
                    span.important-notice-highlight {
                        background-color: $deep-sea-500;
                        color: $white-500;
                        border-radius: 36px;
                        padding: 2px $xxs;
                        margin-right: 2px;
                        font-weight: bold;
                        font-size: 12px;

                    }

                    span {
                        @include p100;
                    }

                    a {
                        @include h100;
                        color: $deep-sea-400;
                    }

                    transition: transform 400ms ease;
                }

                .important-notice-slide.offscreen {
                    transform: translateX(100vw);
                    opacity: 0;
                    height: 0;
                }


            }

            #header-small {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: $xl4;

                #menu-button {
                    padding: $m;
                    margin-right: -$m;
                }
            }


            #header-large {
                align-items: center;
                justify-content: space-between;
                height: $large-header-height;
                display: flex;


                a#logo {
                    img {
                        padding: $s 0;
                    }
                }

                nav {
                    margin-left: $xl;

                    ul {
                        padding: 0;
                        margin: 0;

                        li {
                            cursor: pointer;
                            display: inline-block;
                            padding: 26px $xs;
                            list-style-type: none;

                            @media screen and (min-width: $widescreen) {
                                padding: 26px $m;
                            }
                        }
                    }
                }


                div#actions {
                    display: flex;
                    align-items: center;

                    .button {
                        padding: 14px $m;
                        margin-right: $xxl;
                    }

                    .icon {
                        margin-right: $xxs;
                        cursor: pointer;
                        padding: $m;
                    }

                }
            }
        }

        /// NAV
        div#mobile-nav-overlay {
            right: 0;
            position: fixed;
            z-index: 100;
            width: 0;
            height: 100vh;
            height: -webkit-fill-available;
            transition: background-color 200ms ease;

            nav {
                position: absolute;
                box-sizing: border-box;
                width: $mobile-nav-width;
                right: - $mobile-nav-width;
                height: 100vh;
                height: -webkit-fill-available;
                background-color: $white-500;
                padding: 0 $xl;
                transition: right 200ms ease;
                overflow-y: auto;

                div#mobile-nav-head {
                    font-size: 0;
                    height: $xl4;
                    display: flex;

                    align-items: center;
                    justify-content: space-between;

                    #mobile-nav-close {
                        padding: $m;
                        margin-right: -$m;

                        svg {
                            width: $l;
                            height: $l;
                        }
                    }
                }

                div#mobile-nav-links {
                    margin-top: $xs;
                    border-radius: $radius-l;
                    overflow: hidden;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    column-gap: $xxs;
                    row-gap: $xxs;

                    .mobile-nav-link {
                        @include h200;
                        height: $xl4;
                        background-color: $light-50;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                div#mobile-expansion-panels {
                    div.expansion-panel {
                        border-bottom: 1px solid $light-200;
                        padding: $xl 0;

                        div.ep-head {
                            @include p200;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;

                            .icon {
                                transition: transform 200ms ease;
                            }
                        }

                        div.ep-content {
                            display: none;

                            a {
                                @include h200;
                                padding: $s 0;
                                display: block;
                            }

                            a:first-child {
                                padding-top: $xl;
                            }

                            a:last-child {
                                padding-bottom: 0;
                            }
                        }
                    }

                    div.expansion-panel.active {
                        div.ep-head {
                            .icon {
                                transform: rotate(-180deg);
                            }
                        }

                        div.ep-content {
                            display: block;
                        }
                    }
                }

                div#mobile-login-link {
                    padding: $xl 0;

                    #ml-head {
                        display: flex;
                        align-items: center;

                        #profile-icon {
                            flex: 1 0 48px;
                            height: 48px;
                            border-radius: 50%;
                            background-color: $deep-sea-25;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .icon>svg {
                                * {
                                    stroke: $deep-sea-400;
                                    fill: $deep-sea-400;
                                }
                            }
                        }

                        #profile-text {
                            @include p200;
                            margin-left: $m;
                        }
                    }

                    a.button {
                        margin-top: $m;
                    }
                }
            }
        }

        div#mobile-nav-overlay.active {
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;

            nav {
                right: 0;
            }
        }

        div#desktop-nav-overlay {
            position: fixed;
            top: $large-header-height + $important-notice-height;
            border-top: 1px solid $light-200;
            z-index: 100;
            width: 0;
            height: 100vh;
            height: -webkit-fill-available;
            transition: background-color 200ms ease;

            nav {
                background-color: $white-500;
                overflow: hidden;
                opacity: 0;
                transition: opacity 200ms ease;

                .container {
                    #desktop-nav-overlay-content {
                        padding: $xl3 0;

                        ul {
                            padding: 0;
                            margin: 0;
                            list-style-type: none;

                            li {
                                margin-top: $xl;

                                a {
                                    @include p200;
                                }
                            }

                            li:first-child {
                                margin-top: 0;
                                @include h200;
                            }
                        }

                        #desktop-login-box {
                            padding: $xl;
                            border: 1px solid $light-200;
                            border-radius: $radius-l;

                            #dl-profile-icon {
                                width: $xl4;
                                height: $xl4;
                                border-radius: 50%;
                                background-color: $deep-sea-25;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .icon>svg {
                                    * {
                                        stroke: $deep-sea-400;
                                        fill: $deep-sea-400;
                                    }
                                }
                            }

                            #dl-profile-text {
                                @include p100;
                                margin-top: $m;
                            }

                            a.button {
                                margin-top: $m;
                            }

                        }

                        @media screen and (min-width: $widescreen) {
                            // Same as combined width of logo above and margin to the main links
                            margin: 0 224px;
                        }
                    }
                }
            }
        }

        div#desktop-nav-overlay.active {
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;

            nav {
                opacity: 1;
            }
        }

        main {
            flex: auto;

            section {
                scroll-margin-top: $header-height + 60px;
            }

            section.large-margin {
                margin-top: 72px;
            }

            @include desktop {
                section {
                    scroll-margin-top: $header-height-large + 60px;
                }

                section.large-margin {
                    margin-top: 104px;
                }
            }

            @media screen and (min-width: $tablet) {
                .button.auto-width {
                    width: auto !important;
                    box-sizing: content-box;
                }
            }
        }

        footer {
            position: relative;
            z-index: 2;
            background-color: $white-500;

            div.dot {
                width: $xs;
                height: $xs;
                border-radius: $xs;
                background-color: $light-500;
            }

            #footer-small {
                margin-top: $xl5;

                #footer-consultation-banner {
                    color: $white-500;
                    background-color: $deep-sea-400;
                    padding: $xl3 0;


                    a.button {
                        margin-top: $xl;
                    }
                }

                #footer-brands {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid $light-200;
                    padding: $xl 0;
                }

                #footer-contact {
                    margin-top: $xl3;

                    div#phone-dot-email {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        .dot {
                            margin: 0 $xs;
                        }

                    }

                    div#buttons {
                        margin-top: $s;
                        display: flex;

                        button {
                            flex: 1;
                        }

                        button:first-child {
                            margin-right: calc($s / 2);
                        }

                        button:last-child {
                            margin-left: calc($s /2);
                        }
                    }
                }

                #footer-salon-cards {
                    margin-top: $xl;

                    .salon-card {
                        padding: $xl;
                        margin-top: $s;
                        border-radius: $radius-l;
                        border: 1px solid $light-200;
                        @include elevation-low();

                        img {
                            border-radius: $radius-s;
                            margin-right: $m;
                        }

                        .button {
                            margin-top: $m;
                        }
                    }
                }

                #footer-links {
                    margin-top: $xl3;

                    .columns {

                        .column:nth-child(2) {
                            margin-left: $xl3;
                        }

                        ul {
                            margin: 0;
                            padding: 0;

                            li {
                                margin-top: $m;
                                list-style-type: none;

                                a {
                                    @include p200;
                                }
                            }
                        }
                    }

                    #second-link-row {
                        margin-top: $xl3;
                    }
                }

                #footer-bottom {
                    margin-top: $xl3;
                    border-top: 1px solid $light-300;
                    padding: $xl 0 $m 0;

                    .copy-n-cookies {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;


                        #language-selector {
                            display: flex;
                            align-items: center;

                            .icon {
                                margin-right: $xxs;

                                svg {
                                    * {
                                        stroke: $deep-sea-400;
                                    }
                                }
                            }
                        }
                    }

                    #footer-consultation-button-container {
                        background-color: $white-500;
                        box-sizing: border-box;

                        .fcb-buttons {
                            display: flex;

                            margin-left: - $xs;
                            margin-right: - $xs;

                            a {
                                margin-left: $xs;
                                margin-right: $xs;
                            }
                        }

                        #legends {
                            margin-top: $xs;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @include p100;

                            .legend {
                                text-align: center;

                                .legend-title {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight: bold;

                                    .icon {
                                        margin-right: $xxs;
                                    }
                                }
                            }
                        }
                    }

                    #footer-consultation-button-container.fixed {
                        position: fixed;
                        left: 0;
                        bottom: 0;
                        padding: $s $m $xs $m;
                        width: 100%;

                        #consultation-button {
                            margin-top: 0;
                        }
                    }

                }
            }

            #footer-large {
                background-color: $white-500;
                margin-top: 104px;
                position: relative;
                z-index: 2;

                .footer-large-banner {
                    display: block;
                    color: $white-500;
                    background: linear-gradient(270.44deg, $deep-sea-400 0%, $deep-sea-400 100%);
                    padding: $xl3;
                    border-radius: $radius-l;
                    cursor: pointer;

                    .icon {
                        width: $xl3;
                        height: $xl3;
                    }

                    .icon>svg {
                        stroke: $white-500;
                        fill: $white-500;
                    }

                    .aligner {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: space-between;
                    }

                    h2 {
                        font-size: 40px;
                        line-height: 50px;
                        letter-spacing: -0.02em;
                        font-weight: 400;
                        font-family: "DM Serif Text";
                    }

                    p {
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: -0.03em;
                        font-weight: 400;
                        font-family: "Inter";
                    }
                }

                .footer-large-banner:hover {
                    background: linear-gradient(270.44deg, #219174 0%, $deep-sea-400 100%);
                }

                #footer-large-brands {
                    margin-top: 72px;
                    border-top: 1px solid $light-200;
                    border-bottom: 1px solid $light-200;
                    padding: $xxl 0;

                    span.h200 {
                        margin-right: $xs;
                    }

                    a {
                        line-height: 0;
                        margin-left: $xs;
                    }
                }

                #footer-large-links {
                    margin-top: 72px;

                    #phone-dot-email-large {
                        $margin-top: $xxs;

                        .dot {
                            margin: 0 $s;
                        }
                    }

                    #footer-salon-cards-large {
                        margin-top: $xxl;

                        .salon-card {
                            margin-top: $xl;

                            img {
                                margin-right: $s;
                            }
                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;

                        li {
                            margin-top: $m;
                            list-style-type: none;

                            a {
                                @include p200;
                            }
                        }
                    }
                }

                #footer-large-bottom {
                    margin-top: 72px;
                    border-top: 1px solid $light-300;
                    padding: $xl 0 $xl4 0;


                    #language-selector {
                        display: flex;
                        margin-left: $l;
                        align-items: center;

                        .icon {
                            margin-right: $xxs;

                            svg {
                                * {
                                    stroke: $deep-sea-400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}