@import "util/sizes";
@import "util/mixins";
@import "util/colors";

form {
    label {
        @include h200;
        display: block;
        margin-bottom: $s;
    }

    // Text input
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=phone],
    textarea {
        box-sizing: border-box;
        width: 100%;
        outline: none;
        border-radius: $radius-s;
        font-size: $m;
        line-height: $xl;
        letter-spacing: - 0.02em;
        padding: 11px $m;
        background-color: $light-300;
        border: 1px solid $light-300;
        color: $black-500;
        transition: background-color 200ms ease;
    }

    input[type=text]:focus,
    input[type=email]:focus,
    input[type=password]:focus,
    input[type=phone]:focus,
    textarea:focus {
        background-color: $white-500;
    }

    input[type=text].error,
    input[type=email].error,
    input[type=password].error,
    input[type=phone].error,
    textarea.error {
        border-color: $red-400;
        background-color: $red-25;
    }

    ::placeholder {
        color: $dark-50;
    }

    textarea {
        resize: none;
    }


    // Dropdown select
    .select-wrapper {
        box-sizing: content-box;
        width: 100%;
        line-height: $l;
        position: relative;
        border-radius: $radius-s;
        cursor: pointer;
        background-color: $light-300;
        border: 1px solid $light-300;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;

        select {
            color: $dark-300;
            padding: 13px $m;
            appearance: none;
            background-color: transparent;
            border: none;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
        }



        select::-ms-expand {
            display: none;
        }
    }

    .select-wrapper::after {
        content: "";
        margin-left: - $xs;
        transform: translate(- $m, - 2px) rotate(45deg);
        transform-origin: 50% 50%;
        width: $xs;
        height: $xs;
        border-right: 2px solid $black-500;
        border-bottom: 2px solid $black-500;
        transition: transform 300ms ease;
    }

    .select-wrapper.active {
        border-color: $black-500;
    }


    .select-wrapper.active::after {
        transform: translate(- $m, 2px) rotate(-135deg);
    }

    .select-wrapper.error {
        border-color: $red-400;
    }


    // Checkbox    
    label.checkbox {
        font-weight: normal;
        display: block;
        position: relative;
        padding-left: $xl + $s;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .check {
            position: absolute;
            top: 0;
            left: 0;
            height: $xl;
            width: $xl;
            background-color: $white-500;
            border: 1px solid $light-200;
        }

        .check:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid $white-500;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        input:checked~.check:after {
            display: block;
        }

        input:checked~.check {
            background-color: $deep-sea-400;
        }

        input:checked~.check:after {
            display: block;
        }
    }




    // Radio
    label.radio {
        font-size: $m;
        letter-spacing: -0.02em;
        font-weight: 400;
        line-height: $xxl;
        height: $xxl;
        display: block;
        position: relative;
        padding-left: $xxl + $s;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;

        input {
            appearance: none;
        }

        /*
        input:checked~.check {}
        */

        input:checked~.check:after {
            background-color: $deep-sea-400;
        }

        .check {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            width: 32px;
            background-color: $white-500;
            border: 1px solid $light-200;
            border-radius: 50%;
            box-sizing: content-box;
        }

        .check:after {
            content: "";
            position: absolute;
            top: 6px;
            left: 6px;
            width: $l;
            height: $l;
            border-radius: 50%;
            background-color: transparent;
            transition: background-color 200ms ease;
        }
    }


    /*
    .radio:hover {
        input~.check {    
        }
    }
    */


}