@import "components/icon";
@import "components/button";
@import "components/textfield";
@import "util/typography";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/elements/container.sass";



html {
    body {
        background-color: $white-500;

        /// UTILITY CLASSES
        /// Colors
        .color-deep-sea-300 {
            @include text-color($deep-sea-300);
        }

        .color-deep-sea-400 {
            @include text-color($deep-sea-400);
        }

        .color-deep-sea-500 {
            @include text-color($deep-sea-500);
        }

        /// Elevations 
        .elevation-low {
            @include elevation-low;
        }

        .elevation-medium {
            @include elevation-medium;
        }

        /// Bulma hack
        .container {
            padding: 0 $m;
        }

        /// Flex utility
        .flex-row {
            display: flex;
            align-items: center;
        }

        .flex-col {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .justify-end {
            justify-content: flex-end;
        }

        .justify-space-between {
            justify-content: space-between;
        }


        /// END UTILITY CLASSES

    }
}