@import '../styles/util/colors';
@import 'widgets/service_category_info/service_info/service_info';

html {
    scroll-behavior: smooth;

    body {

        section#description {
            @include desktop {
                a.button {
                    width: auto;
                }
            }
        }

        .container {
            #content {

                section#image {
                    font-size: 0;

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: $radius-l;
                    }
                }


            }
        }


        @media screen and (min-width: $widescreen) {
            .container {
                #content {
                    max-width: 750px;
                }
            }
        }

        // Ensures floater is never above content
        @media screen and (min-width: 1408px) {
            .container {
                #content {
                    max-width: 872px;
                }
            }
        }
    }
}