/// IMPORTANT: 
/// Don't edit this file unless you know what you are doing!

// Primary
$black-500: #000000;
$black-40: rgba(0, 0, 0, 0.05);
$white-500: #ffffff;
$white-200: rgba(255, 255, 255, 0.2);
$white-400: rgba(255, 255, 255, 0.4);
$white-800: rgba(255, 255, 255, 0.8);

$deep-sea-500: #117158;
$deep-sea-400: #1b8066;
$deep-sea-300: #2ea284;
$deep-sea-200: #81c7b5;
$deep-sea-100: #abdace;
$deep-sea-50: #cbe8e0;
$deep-sea-25: #e0f1ed;

// Light neutrals
$light-500: #d8d8d8;
$light-400: #dcdcdc;
$light-300: #e0e0e0;
$light-200: #e5e5e5;
$light-100: #eaeaea;
$light-50: #efefef;
$light-25: #f5f5f5;

// Dark neutrals
$dark-500: #131313;
$dark-400: #1f1f1f;
$dark-300: #363636;
$dark-200: #545454;
$dark-100: #717171;
$dark-50: #8c8c8c;
$dark-25: #acacac;

// Extended
$red-500: #8f3c32;
$red-400: #de412f;
$red-300: #ff6a58;
$red-200: #ff8a7d;
$red-100: #ffaba1;
$red-50: #ffccc6;
$red-25: #ffecea;

$green-500: #077333;
$green-400: #1a9c4f;
$green-300: #35c46f;
$green-200: #58ed95;
$green-100: #7bffb1;
$green-50: #b5ffd3;
$green-25: #effff5;

$orange-500: #d68d00;
$orange-400: #ffa800;
$orange-300: #ffb82e;
$orange-200: #ffc75c;
$orange-100: #ffd789;
$orange-50: #ffe6b7;
$orange-25: #fff6e5;