/// IMPORTANT: 
/// Don't edit this file unless you know what you are doing!

$xxs: 4px;
$xs: 8px;
$s: 12px;
$m: 16px;
$l: 20px;
$xl: 24px;
$xxl: 32px;
$xl3: 40px;
$xl4: 56px;
$xl5: 80px;

$radius-s: 4px;
$radius-l: 8px;

$column-gap: 4px;

$tablet: 800px;
$desktop: 1024px;
$widescreen: 1280px;

$header-height: 95px;
$header-height-large: 110px;