/// IMPORTANT: 
/// Don't edit this file unless you know what you are doing!

@import "mixins";
@import "sizes";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:opsz,wght@14..32,500&display=swap');

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

* {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
}


h1,
.h300 {
    @include h300;
}

h2,
.h200 {
    @include h200;
}

h3,
.h100 {
    @include h100;
}

h1.big,
.h700 {
    @include h700;
}

h1,
.h600 {
    @include h600;
}

h2.big,
.h500 {
    @include h500;
}

h3.big,
.h400 {
    @include h400;
}

.p400 {
    @include p400;
}

.p300 {
    @include p300;
}

.p200 {
    @include p200;
}

p,
.p100 {
    @include p100;
}

.l200 {
    @include l200;
}

a,
.l100 {
    @include p100;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    img {
        vertical-align: bottom;
    }
}


button.b300,
input[type=submit].b300,
.button.b300,
.b300 {
    @include h200;
}

button.b300.small-text,
input[type=submit].b300.small-text,
.button.b300.small-text,
.b300.small-text {
    @include h100;
}

button.b200,
input[type=submit].b200,
.button.b200,
.b200 {
    @include h200;
}

button,
input[type=submit],
.button,
.b100 {
    @include h100;
}

button.b50,
input[type=submit].b50,
.button.b50,
.b50 {
    @include h100;
}

.light {
    font-weight: 400 !important;
}

input[type=text],
input[type=search],
input[type=phone],
input[type=email] {
    @include font-style("Inter", sans-serif, 14px, 20px, inherit, 400);
}

input[type=text]::placeholder,
input[type=search]::placeholder,
input[type=phone]::placeholder,
input[type=email]::placeholder {
    @include font-style("Inter", sans-serif, 14px, 20px, inherit, 400);
}