.badges-widget {
    .badges-touch {
        display: flex;
        justify-content: space-between;

        .badge {
            @include p100;
            color: $white-500;
            text-align: center;

            .badge-title {
                @include h200;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: $xxs;

                span.icon {
                    margin-right: 6px;
                }
            }

        }

        .badge:last-child {
            margin-right: 0;
        }
    }
}