.badges-widget {
    .badges-touch {
        margin: 0 $m;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .badge {
            @include p100;
            color: $white-500;
            text-align: center;

            .badge-title {
                @include h200;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: $xxs;

                span.icon {
                    margin-right: 6px;
                }
            }

        }

        .badge-divider {
            @include desktop {
                width: 1px;
                height: $xxl * 2;
                background-color: $white-200;
            }

        }

        .badge:last-child {
            margin-right: 0;
        }
    }

    .badges-desktop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include p100;

        .badge {
            display: flex;
            align-items: center;

            .badge-icons {
                display: flex;
                margin-right: $xs;
            }

            a {
                @include h100;
                text-decoration: underline;
            }
        }

        .badge-divider {
            margin: 0 $s;
            width: 1px;
            height: $m;
            background-color: $white-400;
        }
    }
}