@import '../styles/util/colors';
@import '../styles/util/sizes';
@import '../styles/util/mixins';


section#banner {
    background-color: $deep-sea-400;
    padding: $xxs 0;

    .badges-widget {
        flex: 1;

        .badge {
            @include button-text-color($white-500);
            color: $white-500;
            background-color: transparent;
        }

        .badge:first-child {
            padding-left: 0;
        }

        .badge:last-child {
            padding-right: 0;
        }
    }

    @include desktop {
        .badges-widget {
            flex: 0;
        }

        .breadcrumbs-widget {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

div#content {
    margin: 0 auto;
    max-width: 872px;

    section#title {
        margin-top: $xl;

        h1 {
            @include h600;
        }

        p {
            @include p200;
            margin-top: $xs;
        }

        .button {
            margin-top: $xl;
        }

        @include desktop {
            margin-top: $xl4;


            p {
                margin-top: $s;
            }

            .button {
                width: auto;
            }
        }
    }

    section#image {
        margin-top: $xl;

        img {
            width: 100%;
            height: auto;
            border-radius: $radius-l;
        }

        @include desktop {
            margin-top: $xl3;
        }
    }
}

section.large-margin {
    margin-top: 72px;

    @include desktop {
        margin-top: 104px;
    }
}